/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
@font-face {
  font-family: 'maledpan';
  src: url('../font/maledpan/maledpan-regular-webfont.eot');
  src: url('../font/maledpan/maledpan-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/maledpan/maledpan-regular-webfont.woff') format('woff'), url('../font/maledpan/maledpan-regular-webfont.ttf') format('truetype'), url('../font/maledpan/maledpan-regular-webfont.svg#mitr') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
a[href],
button {
  -ms-touch-action: none;
  /* IE10 */
  touch-action: none;
  /* IE11 */
}
body {
  background: #ffffff;
  font-family: 'sans-serif';
  font-weight: 200;
  overflow-x: hidden;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
}
.header a.btn-icon {
  font-size: 1.8em;
  width: 80px;
  height: 80px;
  color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.header a.btn-icon.btn-back {
  margin-right: auto;
}
.header a.btn-icon:hover {
  color: #000000;
}
.header a.logo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}
.header a.logo-icon img {
  height: 60px;
  padding: 10px;
}
.container {
  width: 60%;
  margin: 5% 20%;
  margin-top: 80px;
  float: left;
  display: block;
}
.container .box {
  display: flex;
  flex-direction: column;
}
.container .box .head {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
  font-family: 'maledpan';
}
.container .box .head h2 {
  font-size: 2.5em;
}
.container .box .head a.button-option {
  text-decoration: none;
  padding: 7px 15px;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  margin-left: 10px;
  color: #AAAAAA;
  font-size: 1em;
}
.container .box .head a.button-option.first-right {
  margin-left: auto;
}
.container .box .head a.button-option i {
  margin-right: 10px;
}
.container .box .filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
  font-family: 'maledpan';
  font-size: 1.4em;
}
.container .box .filter a.filter-item {
  text-decoration: none;
  margin-right: 15px;
  color: #666666;
}
.container .box .filter a.filter-item.active {
  color: #000000;
  font-weight: bold;
}
.container .box .device-list {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 2px solid #EEEEEE;
}
.container .box .device-list a.device-card {
  width: 23%;
  padding: 3%;
  box-sizing: border-box;
  margin-right: 2.66%;
  margin-bottom: 2.66%;
  height: 170px;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: #DDDDDD;
  color: #999999;
}
.container .box .device-list a.device-card.create-button {
  background: #FFFFFF;
  border: 2px dashed #DDDDDD;
  font-size: 1.4em;
  align-items: center;
}
.container .box .device-list a.device-card.create-button i {
  font-size: 1.8em;
  margin-bottom: 5px;
}
.container .box .device-list a.device-card.create-button p {
  font-family: 'maledpan';
}
.container .box .device-list a.device-card:nth-child(4n+0) {
  margin-right: 0%;
}
.container .box .device-list a.device-card .icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
}
.container .box .device-list a.device-card .temp {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'maledpan';
}
.container .box .device-list a.device-card .name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.4em;
  margin-bottom: 5px;
  font-family: 'maledpan';
}
.container .box .device-list a.device-card .desc {
  font-size: 0.8em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.container .box .device-list a.device-card.active {
  background: #3581c2;
  color: #FFFFFF;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
}
.container .box .device-list a.device-card.active .desc {
  color: #64bee3;
}
.container .box .device-list a.device-card.alret {
  background: #e74c3c;
  color: #FFFFFF;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.container .box .device-list a.device-card.lostconnect .icon {
  color: #ff9800;
}
.container .box .device-list a.link {
  width: 23%;
  padding: 0 3%;
  box-sizing: border-box;
  margin-right: 2.66%;
  margin-bottom: 2.66%;
  height: 80px;
  text-decoration: none;
  background: #EEEEEE;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #999999;
}
.container .box .device-list a.link:nth-child(4n+0) {
  margin-right: 0%;
}
.container .box .device-list a.link.active {
  background: #2962ff;
  color: #FFFFFF;
}
.container .box .device-list a.link .name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.4em;
  font-weight: bold;
  font-family: 'maledpan';
}
.container .box .device-list a.link .counter {
  font-size: 0.8em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.login {
  width: 26%;
  margin: 0 37%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  font-family: 'maledpan';
}
.login .logo {
  width: 40%;
  margin: 0 30%;
  margin-bottom: 5%;
}
.login .logo img {
  width: 100%;
}
.login label {
  width: 100%;
  text-align: left;
  color: #666666;
  font-size: 1.4em;
}
.login label i {
  color: #2962ff;
  margin-right: 15px;
}
.login .input-text {
  width: 100%;
  font-size: 1.2em;
  border: 0px;
  padding: 3% 0;
  color: #333333;
  margin: 0%;
  margin-bottom: 10%;
  border: 0;
  border-bottom: 2px solid #DDDDDD;
  box-sizing: border-box;
}
.login .input-text:hover {
  cursor: pointer;
}
.login .input-text:focus {
  border-bottom: 2px solid #2962ff;
  color: #2962ff;
}
.login .btn {
  width: 100%;
  float: left;
  display: block;
  font-size: 1.4em;
  border: 0px;
  padding: 5%;
  margin: 0%;
  margin-bottom: 10%;
  border-radius: 5px;
  background: #2962ff;
  color: #ffffff;
  font-family: 'maledpan';
  line-height: 1.2em;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
}
.login .btn i {
  margin-left: 10px;
  font-size: 0.9em;
}
.login .btn:hover {
  cursor: pointer;
  background: #3581c2;
}
.login .btn.-loading {
  background: transparent;
  color: #2962ff;
}
.login p {
  width: 100%;
  color: #DDDDDD;
  font-size: 1.4em;
  text-align: center;
}
.login div {
  width: 28%;
  margin: 0 36%;
  text-align: center;
}
.login div.logout {
  font-size: 1.4em;
}
.login div.logout i {
  margin-right: 10px;
}
.login div p {
  width: 100%;
  float: left;
  display: block;
  color: #111111;
  font-size: 1.4em;
  margin-bottom: 10%;
  text-align: center;
}
.login div p i {
  margin-left: 5px;
  font-size: 0.8em;
}
.login div p a {
  color: #2962ff;
  text-decoration: none;
}
.login div p a:hover {
  text-decoration: underline;
}
.form {
  width: 40%;
  margin: 80px 30%;
  display: flex;
  flex-direction: column;
}
.form h2 {
  font-size: 2.5em;
  color: #000000;
  border-bottom: 1px solid #dddddd;
  font-family: 'maledpan';
  padding-bottom: 15px;
}
.form .form-items {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}
.form .form-items.toggle-type {
  flex-direction: row;
  align-items: center;
  line-height: 1em;
  justify-content: space-between;
}
.form .form-items.toggle-type .input {
  font-size: 1.2em;
  padding: 0;
}
.form .form-items.hidden {
  display: none;
}
.form .form-items .label {
  font-size: 1.4em;
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'maledpan';
}
.form .form-items .label .btn {
  text-decoration: none;
  border-radius: 5px;
  background: #2962ff;
  color: #FFFFFF;
  font-size: 1em;
  padding: 5px 7px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}
.form .form-items .label .btn i {
  margin-right: 7px;
}
.form .form-items p {
  color: #999999;
  font-family: 'maledpan';
  font-size: 1.4em;
}
.form .form-items p a {
  color: #2962ff;
}
.form .form-items p a i {
  margin-left: 5px;
}
.form .form-items .input {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
}
.form .form-items .input.twins {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form .form-items .input.twins .input-text {
  width: 49%;
  text-align: center;
  flex-grow: unset;
}
.form .form-items .input .input-button {
  flex-grow: 1;
  padding: 2.5%;
  font-size: 1.2em;
  border: 0px;
  margin: 0px;
  background: #FAFAFA;
  color: #000000;
  border-radius: 5px;
  resize: none;
  border: 2px solid #DDDDDD;
  box-sizing: border-box;
  margin-left: 15px;
}
.form .form-items .input .input-text,
.form .form-items .input .input-textarea {
  flex-grow: 4;
  width: 100%;
  padding: 2.5%;
  font-size: 1.2em;
  border: 0px;
  margin: 0px;
  background: #FAFAFA;
  color: #000000;
  border-radius: 5px;
  resize: none;
  border: 2px solid #DDDDDD;
  box-sizing: border-box;
}
.form .form-items .input .input-text:focus,
.form .form-items .input .input-textarea:focus {
  border: 2px solid #2962ff;
}
.form .form-items .input .input-text:hover,
.form .form-items .input .input-textarea:hover {
  cursor: pointer;
}
.form .form-items .input .input-textarea {
  height: 100px;
}
.form .form-items .input .select {
  width: 100%;
  float: left;
  display: block;
  position: relative;
}
.form .form-items .input .select:after {
  content: '';
  border-top: 12px solid #999999;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  z-index: 2;
  top: 35%;
  right: 3%;
  pointer-events: none;
}
.form .form-items .input .select select {
  width: 100%;
  margin: 0%;
  padding: 2.5%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.2em;
  background: #FAFAFA;
  color: #000000;
  border-radius: 5px;
  border: 2px solid #DDDDDD;
  box-sizing: border-box;
}
.form .form-items .input .select select:hover {
  cursor: pointer;
}
.form .form-items .input .select select:focus {
  border: 2px solid #2962ff;
}
.form .form-items .input #btn-status-toggle,
.form .form-items .input #btn-notify-toggle {
  font-size: 2.5em;
  margin-top: -1.5%;
  color: #111111;
}
.form .form-items .input #btn-status-toggle:hover,
.form .form-items .input #btn-notify-toggle:hover {
  cursor: pointer;
  opacity: 0.8;
}
.form .form-items .input #btn-status-toggle i.fa-toggle-on,
.form .form-items .input #btn-notify-toggle i.fa-toggle-on {
  color: #2962ff;
}
.form .form-items .input .list {
  display: flex;
  flex-direction: column;
  border: 2px solid #DDDDDD;
  border-radius: 5px;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.form .form-items .input .list .list-items {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #EEEEEE;
}
.form .form-items .input .list .list-items:last-child {
  border-bottom: 0;
}
.form .form-items .input .list .list-items .c {
  width: 85%;
  padding: 2.5% 3%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.form .form-items .input .list .list-items .c i {
  margin-right: 15px;
  color: #2962ff;
}
.form .form-items .input .list .list-items .btn {
  width: 15%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #DDDDDD;
}
.form .form-items .input .list .list-items .btn:hover {
  cursor: pointer;
  color: #999999;
}
.form .form-items .input .list-input {
  display: flex;
  position: relative;
}
.form .form-items .input .list-input .input-list-text {
  width: 100%;
  padding: 2.5%;
  font-size: 1.2em;
  border: 0px;
  margin: 0px;
  background: #FAFAFA;
  color: #000000;
  border-radius: 5px;
  resize: none;
  border: 2px solid #DDDDDD;
  box-sizing: border-box;
}
.form .form-items .input .list-input .input-list-text:focus {
  border: 2px solid #2962ff;
}
.form .form-items .input .list-input .input-list-text:hover {
  cursor: pointer;
}
.form .form-items .input .list-input .btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3581c2;
  font-size: 1.2em;
}
.form .form-items .input .list-input .btn:hover {
  cursor: pointer;
  color: #2962ff;
}
.form .form-items .input .list-input .btn:active {
  color: #64bee3;
}
.form .form-items .button {
  width: 100%;
  float: left;
  display: block;
  font-size: 1.2em;
  border-radius: 5px;
  border: 0px;
  margin: 0%;
  padding: 2% 0;
  margin-top: 5%;
  background: #2962ff;
  color: #FFFFFF;
  font-family: 'maledpan';
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
}
.form .form-items .button.-completed {
  background: transparent;
  color: #2962ff;
}
.form .form-items .button:hover {
  cursor: pointer;
}
.form .form-items .button i {
  margin-left: 10px;
}
.device-info {
  width: 40%;
  margin: 80px 30%;
  display: flex;
  flex-direction: column;
}
.device-info h1 {
  font-size: 2.5em;
  font-family: 'maledpan';
}
.device-info .temperature-current {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 0;
}
.device-info .temperature-current h3 {
  font-family: 'maledpan';
  font-size: 7.5em;
  line-height: 1.2em;
}
.device-info .temperature-current p {
  font-size: 0.8em;
}
.device-info .temperature-stat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.device-info .temperature-stat .box {
  text-align: center;
  flex-grow: 1;
  padding: 1%;
}
.device-info .temperature-stat .box h3 {
  font-family: 'maledpan';
  font-size: 2.5em;
  line-height: 1.2em;
}
.device-info .temperature-stat .box p {
  font-size: 0.8em;
}
.device-info .temperature-stat .box.-highest .v {
  color: #111111;
}
.device-info .temperature-stat .box.-highest .over {
  color: #e74c3c;
}
.device-info .temperature-stat .box.-lowest .v {
  color: #111111;
}
.device-info .temperature-stat .box.-lowest .over {
  color: #e74c3c;
}
.device-info .info {
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
}
.device-info .info a {
  text-decoration: none;
  margin-right: 15px;
  color: #666666;
}
.device-info .info a i {
  margin-right: 5px;
  color: #2962ff;
}
.device-info .graph {
  width: 100%;
  margin-top: 5%;
  display: flex;
  height: 250px;
}
.device-info .graph canvas {
  width: 100%;
  height: 250px;
}
.device-history {
  width: 40%;
  margin: 0 30%;
  padding-bottom: 5%;
  display: flex;
}
.device-history .history {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.device-history .history .logitems {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px;
  font-size: 1.4em;
  font-family: 'maledpan';
  border-radius: 5px;
}
.device-history .history .logitems:nth-child(odd) {
  background: #EEEEEE;
}
.device-history .history .logitems:hover {
  cursor: pointer;
  background: #DDDDDD;
}
.device-history .history .logitems .icon {
  width: 5%;
}
.device-history .history .logitems .icon i.fa-caret-down {
  color: #2962ff;
}
.device-history .history .logitems .icon i.fa-caret-up {
  color: #e74c3c;
}
.device-history .history .logitems .temp {
  width: 25%;
  color: #000000;
}
.device-history .history .logitems .time {
  width: 30%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.device-history .history .logitems .id {
  width: 40%;
  text-align: right;
  color: #BBBBBB;
}
.device-history .history .logitems .id i {
  color: #e74c3c;
  margin-left: 5px;
}
.device-history .history .loading {
  width: 100%;
  margin: 20% 0%;
  float: left;
  display: block;
  text-align: center;
  color: #111111;
  font-size: 0.9em;
}
.device-history .history .empty {
  width: 100%;
  margin: 20% 0%;
  float: left;
  display: block;
  text-align: center;
  color: #111111;
  font-size: 0.9em;
}
.footer {
  width: 60%;
  margin: 0 20%;
  margin-bottom: 5%;
  color: #666666;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'maledpan';
  font-size: 1.4em;
}
.footer i {
  margin-right: 10px;
}
#progress-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 5%;
  height: 3px;
  background: #2962ff;
  float: left;
  display: block;
  z-index: 100;
  display: none;
}
#loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 5%;
  height: 2px;
  border-radius: 20%;
  background: #2962ff;
  float: left;
  display: block;
  z-index: 100;
  transition: all 10s ease-in-out;
  -moz-transition: all 10s ease-in-out;
  -webkit-transition: all 10s ease-in-out;
  -o-transition: all 10s ease-in-out;
}
#loading-bar.-action {
  transform: translateX(1900%);
}
#filter {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  float: left;
  display: block;
  z-index: 999;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.65);
  display: none;
}
.message-box {
  width: 100%;
  padding: 12% 0%;
  float: left;
  display: block;
  text-align: center;
}
.message-box.-minibox {
  padding: 8% 0%;
}
.message-box.-minibox .msg {
  margin-bottom: 4%;
}
.message-box .icon {
  width: 100%;
  float: left;
  display: block;
  font-size: 5em;
  color: #1d252b;
}
.message-box .msg {
  width: 100%;
  margin-bottom: 8%;
  float: left;
  display: block;
  font-size: 2em;
  color: #000000;
}
.message-box .control {
  width: 100%;
  float: left;
  display: block;
}
.message-box .control a.btn {
  text-decoration: none;
  background: #2962ff;
  color: #3581c2;
  padding: 10px 25px;
  margin: 5px;
  border-radius: 2px;
}
.message-box .control a.btn i {
  margin-left: 10px;
}
.message-box .control a.btn.btn-not-Accept {
  background: transparent;
  color: #111111;
}
#disconnect-bar {
  position: fixed;
  bottom: -50px;
  left: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  background: #ff9800;
  color: #4c2d00;
  font-family: 'maledpan';
  font-size: 1.4em;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
#disconnect-bar.-active {
  transform: translateY(-100%);
}
#disconnect-bar i {
  margin-right: 10px;
}
/* Other Device and Screen */
@media only screen and (min-width: 1910px) {
  .header .btn {
    width: 3%;
  }
  .container {
    width: 60%;
    margin: 5% 20%;
    margin-top: 60px;
  }
  .container .temp-card .icon {
    padding: 6% 0%;
    font-size: 1.8em;
  }
  .container .temp-card .detail {
    width: 55%;
    padding-top: 4.5%;
    line-height: 1.2em;
  }
  .container .temp-card .detail .name {
    font-size: 1.2em;
  }
  .container .temp-card .detail .desc {
    font-size: 0.7em;
  }
  .container .temp-card a.temp {
    width: 25%;
    padding: 6% 0%;
    padding-right: 3%;
    font-size: 1.8em;
  }
  .container .temp-card .status {
    top: 8%;
  }
  .logout {
    margin-top: 25%;
  }
  .login .welcome {
    width: 30%;
    margin: 0% 10%;
    margin-top: 18%;
  }
  .login .welcome h1 {
    font-size: 2.4em;
  }
  .login .detail {
    width: 15%;
    padding: 0% 17%;
    margin-top: 17%;
  }
  .form {
    width: 40%;
    margin: 0% 30%;
    padding-bottom: 5%;
  }
  .device-head {
    width: 60%;
    margin: 0% 20%;
    padding: 4% 0%;
  }
  .device-head .title .name {
    font-size: 2.5em;
    line-height: 1.3em;
  }
  .device-head .title .location {
    font-size: 0.9em;
  }
  .device-head .current .current-items.-highest {
    margin-top: 1.5%;
  }
  .device-head .current .current-items.-lowest {
    margin-top: 1.5%;
  }
  .device-head .current .current-items .v {
    font-size: 3em;
    line-height: 1.1em;
  }
  .device-info {
    width: 29%;
    margin-left: 20%;
  }
  .device-info .info {
    width: 90%;
    padding: 2% 5%;
  }
  .device-info .graph {
    margin-top: 15%;
    height: 270px;
  }
  .device-info .graph canvas {
    height: 270px;
  }
  .device-history {
    width: 29%;
    margin-right: 20%;
  }
  .device-history .history {
    width: 90%;
    padding: 2% 5%;
  }
  .device-history .history .logitems .id {
    width: 30%;
  }
  .device-history .history .logitems .time {
    width: 40%;
  }
  .device-history .history .logitems .temp {
    width: 20%;
  }
  .device-history .history .logitems .icon {
    width: 10%;
  }
  .footer {
    width: 60%;
    padding: 1% 20%;
  }
  .slide-panel {
    left: -15%;
    width: 15%;
  }
  .slide-panel.-zone-panel {
    right: -15%;
  }
  .slide-panel .menu-list a.btn {
    padding: 5% 8%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  .header .navi-items {
    margin-right: 2%;
  }
  .header .btn {
    width: 7%;
  }
  .container {
    width: 96%;
    margin: 5% 2%;
    margin-top: 60px;
  }
  .container .temp-card {
    width: 31.33%;
    margin-top: 2%;
    margin-right: 2%;
  }
  .container .temp-card .icon {
    width: 17%;
    padding: 6% 0%;
    font-size: 1.6em;
  }
  .container .temp-card .detail {
    width: 55%;
    padding-top: 4.8%;
    line-height: 1.1em;
  }
  .container .temp-card .detail .name {
    font-size: 1em;
  }
  .container .temp-card .detail .desc {
    font-size: 0.7em;
  }
  .container .temp-card a.temp {
    width: 25%;
    padding: 6% 0%;
    padding-right: 3%;
    font-size: 1.6em;
  }
  .container .temp-card .status {
    top: 10%;
    right: 2%;
    font-size: 0.5em;
  }
  .logout {
    margin-top: 30%;
  }
  .login .welcome {
    width: 50%;
    margin-top: 21%;
  }
  .login .welcome .logo {
    width: 20%;
    margin: 3% 40%;
  }
  .login .welcome h1 {
    font-size: 2.2em;
  }
  .login .detail {
    width: 25%;
    padding: 0% 12%;
    margin-top: 20%;
  }
  .login .detail .input-text {
    margin-bottom: 3%;
  }
  .login .detail .btn {
    padding: 5%;
  }
  .form {
    width: 80%;
    margin: 0% 10%;
    padding-bottom: 5%;
  }
  .form .form-items .input button.btn {
    padding: 5%;
  }
  .form .form-items .input a.btn-nav {
    padding: 5%;
  }
  .device-head {
    width: 96%;
    margin: 0% 2%;
    padding: 3% 0%;
  }
  .device-head .title .name {
    font-size: 2.4em;
    line-height: 1.3em;
  }
  .device-head .current .current-items.-highest {
    margin-top: 1.5%;
  }
  .device-head .current .current-items.-lowest {
    margin-top: 1.5%;
  }
  .device-head .current .current-items .v {
    font-size: 3em;
    line-height: 1.1em;
  }
  .device-info {
    width: 47%;
    margin-left: 2%;
  }
  .device-info .info {
    width: 90%;
    padding: 1% 5%;
  }
  .device-info .info .info-items {
    padding: 4% 0%;
  }
  .device-info .graph {
    margin-top: 11%;
    height: 250px;
  }
  .device-info .graph canvas {
    height: 250px;
  }
  .device-history {
    width: 47%;
    margin-right: 2%;
  }
  .device-history .history {
    width: 90%;
    padding: 1% 5%;
  }
  .device-history .history .logitems .id {
    width: 30%;
  }
  .device-history .history .logitems .time {
    width: 40%;
  }
  .device-history .history .logitems .temp {
    width: 20%;
  }
  .device-history .history .logitems .icon {
    width: 10%;
  }
  .footer {
    width: 96%;
    padding: 1% 2%;
  }
  .slide-panel {
    left: -30%;
    width: 30%;
  }
  .slide-panel.-zone-panel {
    right: -30%;
  }
  .slide-panel .menu-list {
    padding-bottom: 2%;
    margin-bottom: 2%;
  }
  .slide-panel .menu-list a.btn {
    padding: 4% 8%;
  }
  .message-box {
    padding: 18% 0%;
  }
  .message-box.-minibox {
    padding: 7% 0%;
  }
  .message-box.-minibox .msg {
    margin-bottom: 5%;
  }
  .message-box .icon {
    font-size: 3.5em;
  }
  .message-box .msg {
    margin-bottom: 8%;
    font-size: 1.8em;
  }
  .message-box .control a.btn {
    padding: 10px 20px;
  }
  #disconnect-bar {
    line-height: 1.5em;
  }
  #disconnect-bar i {
    margin-right: 5px;
    font-size: 1em;
  }
}
@media only screen and (min-width: 760px) and (max-width: 1023px) {
  .header .title {
    width: 80%;
    padding: 16px 0px;
    height: 28px;
    display: inline-block;
  }
  .header .title .name {
    line-height: 1.3em;
  }
  .header .title .location {
    font-size: 0.75em;
  }
  .header .mobile-title {
    width: 80%;
    display: inline-block;
  }
  .header .navi-items {
    display: none;
  }
  .header .btn {
    width: 10%;
    padding: 22px 0%;
    height: 16px;
  }
  .header .btn.btn-zone-toggle {
    display: inline-block;
  }
  .container {
    width: 93%;
    margin: 5% 3.5%;
    margin-top: 60px;
  }
  .container .temp-card {
    width: 48%;
    margin-top: 2%;
    margin-right: 0%;
  }
  .container .temp-card:nth-child(2n+0) {
    margin-left: 2%;
  }
  .container .temp-card .icon {
    width: 17%;
    padding: 6% 0%;
    font-size: 1.8em;
  }
  .container .temp-card .detail {
    width: 55%;
    padding-top: 5.5%;
    line-height: 1.1em;
  }
  .container .temp-card .detail .name {
    font-size: 1.2em;
  }
  .container .temp-card .detail .desc {
    font-size: 0.7em;
  }
  .container .temp-card a.temp {
    width: 25%;
    padding: 6% 0%;
    padding-right: 3%;
    font-size: 1.8em;
  }
  .container .temp-card .status {
    right: 2%;
    font-size: 0.5em;
  }
  .logout {
    margin-top: 45%;
  }
  .login .welcome {
    width: 60%;
    margin: 10% 20%;
  }
  .login .welcome .logo {
    width: 20%;
    margin: 3% 40%;
  }
  .login .welcome h1 {
    font-size: 2.2em;
  }
  .login .welcome p {
    font-size: 1em;
  }
  .login .detail {
    width: 40%;
    padding: 0% 30%;
    margin: 0%;
    border: 0px;
  }
  .login .detail .input-text {
    margin-bottom: 3%;
  }
  .login .detail .btn {
    padding: 5%;
    margin-top: 5%;
  }
  .form {
    width: 80%;
    margin: 0% 10%;
    padding-bottom: 10%;
  }
  .form h2 {
    display: none;
  }
  .form .form-items {
    margin-top: 5%;
    margin-bottom: 0%;
  }
  .form .form-items .input button.btn {
    padding: 5% 7%;
  }
  .form .form-items .input a.btn-nav {
    padding: 5% 7%;
  }
  .device-head {
    width: 80%;
    margin: 0% 10%;
    padding: 7% 0%;
  }
  .device-head .title {
    display: none;
  }
  .device-head .current {
    width: 100%;
  }
  .device-info {
    width: 80%;
    margin: 0% 10%;
  }
  .device-info .info {
    width: 90%;
    padding: 1% 5%;
  }
  .device-info .graph {
    margin-top: 5%;
    height: 200px;
  }
  .device-info .graph canvas {
    height: 200px;
  }
  .device-history {
    width: 80%;
    margin: 0% 10%;
  }
  .device-history .history {
    width: 100%;
    padding: 5% 0%;
    background: transparent;
  }
  .device-history .history .logitems {
    padding: 3.5% 0%;
  }
  .device-history .history .logitems .id {
    width: 30%;
  }
  .device-history .history .logitems .time {
    width: 40%;
  }
  .device-history .history .logitems .temp {
    width: 20%;
  }
  .device-history .history .logitems .icon {
    width: 10%;
  }
  .footer {
    width: 93%;
    padding: 1% 3.5%;
  }
  .slide-panel {
    left: -35%;
    width: 35%;
  }
  .slide-panel.-zone-panel {
    right: -35%;
  }
  .message-box {
    padding: 40% 0%;
  }
  .message-box.-minibox {
    padding: 10% 0%;
  }
  .message-box.-minibox .msg {
    margin-bottom: 5%;
  }
  .message-box .icon {
    font-size: 4em;
  }
  .message-box .msg {
    margin-bottom: 8%;
    font-size: 1.8em;
  }
  #disconnect-bar {
    line-height: 1.5em;
  }
  #disconnect-bar i {
    margin-right: 5px;
    font-size: 1em;
  }
}
@media only screen and (min-width: 520px) and (max-width: 759px) {
  .header .title {
    width: 80%;
    padding: 16px 0px;
    height: 28px;
    display: inline-block;
  }
  .header .title .name {
    line-height: 1.3em;
  }
  .header .title .location {
    font-size: 0.75em;
  }
  .header .mobile-title {
    width: 80%;
    display: inline-block;
  }
  .header .navi-items {
    display: none;
  }
  .header .btn {
    width: 10%;
    padding: 22px 0%;
    height: 16px;
  }
  .header .btn.btn-zone-toggle {
    display: inline-block;
  }
  .container {
    width: 93%;
    margin: 5% 3.5%;
    margin-top: 60px;
  }
  .container .temp-card {
    width: 48%;
    margin-top: 2%;
    margin-right: 0%;
  }
  .container .temp-card:nth-child(2n+0) {
    margin-left: 2%;
  }
  .container .temp-card .icon {
    width: 17%;
    padding: 6% 0%;
    font-size: 1.8em;
  }
  .container .temp-card .detail {
    width: 55%;
    padding-top: 5.5%;
    line-height: 1.1em;
  }
  .container .temp-card .detail .name {
    font-size: 1.2em;
  }
  .container .temp-card .detail .desc {
    font-size: 0.7em;
  }
  .container .temp-card a.temp {
    width: 25%;
    padding: 6% 0%;
    padding-right: 3%;
    font-size: 1.8em;
  }
  .container .temp-card .status {
    right: 2%;
    font-size: 0.5em;
  }
  .logout {
    margin-top: 45%;
  }
  .login .welcome {
    width: 60%;
    margin: 10% 20%;
  }
  .login .welcome .logo {
    width: 20%;
    margin: 3% 40%;
  }
  .login .welcome h1 {
    font-size: 2.2em;
  }
  .login .welcome p {
    font-size: 1em;
  }
  .login .detail {
    width: 40%;
    padding: 0% 30%;
    margin: 0%;
    border: 0px;
  }
  .login .detail .input-text {
    margin-bottom: 3%;
  }
  .login .detail .btn {
    padding: 5%;
    margin-top: 5%;
  }
  .form {
    width: 80%;
    margin: 0% 10%;
    padding-bottom: 10%;
  }
  .form h2 {
    display: none;
  }
  .form .form-items {
    margin-top: 5%;
    margin-bottom: 0%;
  }
  .form .form-items .input button.btn {
    padding: 5% 7%;
  }
  .form .form-items .input a.btn-nav {
    padding: 5% 7%;
  }
  .device-head {
    width: 80%;
    margin: 0% 10%;
    padding: 7% 0%;
  }
  .device-head .title {
    display: none;
  }
  .device-head .current {
    width: 100%;
  }
  .device-info {
    width: 80%;
    margin: 0% 10%;
  }
  .device-info .info {
    width: 90%;
    padding: 1% 5%;
  }
  .device-info .graph {
    margin-top: 5%;
    height: 200px;
  }
  .device-info .graph canvas {
    height: 200px;
  }
  .device-history {
    width: 80%;
    margin: 0% 10%;
  }
  .device-history .history {
    width: 100%;
    padding: 5% 0%;
    background: transparent;
  }
  .device-history .history .logitems {
    padding: 3.5% 0%;
  }
  .device-history .history .logitems .id {
    width: 30%;
  }
  .device-history .history .logitems .time {
    width: 40%;
  }
  .device-history .history .logitems .temp {
    width: 20%;
  }
  .device-history .history .logitems .icon {
    width: 10%;
  }
  .footer {
    width: 93%;
    padding: 1% 3.5%;
  }
  .slide-panel {
    left: -35%;
    width: 35%;
  }
  .slide-panel.-zone-panel {
    right: -35%;
  }
  .message-box {
    padding: 40% 0%;
  }
  .message-box.-minibox {
    padding: 10% 0%;
  }
  .message-box.-minibox .msg {
    margin-bottom: 5%;
  }
  .message-box .icon {
    font-size: 4em;
  }
  .message-box .msg {
    margin-bottom: 8%;
    font-size: 1.8em;
  }
  #disconnect-bar {
    line-height: 1.5em;
  }
  #disconnect-bar i {
    margin-right: 5px;
    font-size: 1em;
  }
}
@media only screen and (min-width: 0px) and (max-width: 519px) {
  .header {
    height: 54px;
  }
  .header .mobile-title {
    width: 68%;
    padding: 16px 0%;
    height: 22px;
    display: inline-block;
  }
  .header .title {
    width: 68%;
    padding: 16px 0%;
    height: 22px;
    text-align: center;
  }
  .header .navi-items {
    display: none;
  }
  .header .btn {
    width: 16%;
    padding: 16px 0%;
    height: 22px;
  }
  .header .btn.btn-zone-toggle {
    display: inline-block;
  }
  .container {
    width: 100%;
    margin: 5% 0%;
    margin-top: 54px;
  }
  .container .temp-card {
    width: 47%;
    padding: 2% 0%;
    padding-top: 4%;
    margin: 0%;
    margin-left: 2%;
    margin-bottom: 2%;
  }
  .container .temp-card .icon {
    width: 90%;
    padding: 5%;
    font-size: 0.6em;
  }
  .container .temp-card a.temp {
    width: 80%;
    padding: 5% 10%;
    font-size: 2.8em;
  }
  .container .temp-card .detail {
    width: 80%;
    padding: 0% 10%;
    line-height: 1.3em;
  }
  .container .temp-card .detail .name {
    font-size: 1.1em;
    padding: 3% 0%;
  }
  .container .temp-card .detail .desc {
    font-size: 0.7em;
    letter-spacing: 0px;
  }
  .logout {
    margin-top: 60%;
  }
  .login .welcome {
    width: 90%;
    margin: 5%;
  }
  .login .welcome .logo {
    width: 20%;
    margin: 3% 40%;
  }
  .login .welcome h1 {
    font-size: 1.6em;
  }
  .login .welcome p {
    font-size: 1em;
  }
  .login .detail {
    width: 80%;
    padding: 0%;
    margin: 10%;
    border: 0px;
  }
  .login .detail .input-text {
    margin-bottom: 3%;
  }
  .login .detail .btn {
    padding: 5%;
    margin-top: 5%;
  }
  .form {
    width: 90%;
    margin: 0% 5%;
    padding-bottom: 5%;
  }
  .form h2 {
    display: none;
  }
  .form .form-items {
    margin-top: 5%;
    margin-bottom: 0%;
  }
  .form .form-items.toggle-type {
    border-bottom: 1px solid #dddddd;
  }
  .form .form-items.toggle-type .label {
    width: 50%;
  }
  .form .form-items.toggle-type .input {
    width: 50%;
    text-align: right;
  }
  .form .form-items .label {
    width: 100%;
    padding: 2% 0%;
    margin-right: 0%;
    line-height: 1.5em;
    text-align: left;
  }
  .form .form-items .input {
    width: 100%;
  }
  .form .form-items .input .input-text,
  .form .form-items .input .input-textarea {
    width: 94%;
    padding: 3%;
  }
  .form .form-items .input .select select {
    padding: 3%;
  }
  .form .form-items .input #btn-status-toggle,
  .form .form-items .input #btn-notify-toggle {
    font-size: 3em;
    margin-top: -12%;
  }
  .form .form-items .input button.btn {
    width: 100%;
    padding: 5%;
    margin-top: 5%;
  }
  .form .form-items .input a.btn-nav {
    width: 90%;
    padding: 5%;
    margin-top: 5%;
    text-align: center;
  }
  .form .form-items .input .list .list-items {
    margin-top: 2%;
  }
  .form .form-items .input .list .list-items .c {
    padding: 3% 4%;
  }
  .form .form-items .input .list .list-items .btn {
    width: 6%;
    padding: 3% 2%;
  }
  .form .form-items .input .list-input {
    margin-top: 3%;
  }
  .form .form-items .input .list-input .btn {
    width: 10%;
  }
  .device-info {
    position: relative;
    top: 0px;
    width: 90%;
    padding: 5%;
    border: 0px;
    right: 0%;
    border-radius: 0px;
    box-shadow: none;
  }
  .device-info .current {
    padding-bottom: 10%;
  }
  .device-info .current .current-now {
    width: 100%;
    text-align: center;
  }
  .device-info .current .current-now .v {
    font-size: 5em;
  }
  .device-info .current .current-now .c {
    font-size: 0.75em;
  }
  .device-info .current .current-items {
    width: 50%;
    text-align: center;
  }
  .device-info .current .current-items .v {
    font-size: 2em;
    margin-bottom: 3%;
  }
  .device-info .current .current-items .c {
    font-size: 0.75em;
  }
  .device-info .info .info-items {
    padding: 4% 0%;
    font-size: 1.1em;
  }
  .device-info .graph {
    height: 200px;
  }
  .device-info .graph canvas {
    height: 200px;
  }
  .device-history {
    width: 90%;
    margin: 0% 5%;
  }
  .device-history .history .logitems {
    padding: 4% 0%;
    font-size: 1.1em;
  }
  .device-history .history .logitems .temp {
    font-weight: bold;
  }
  .footer {
    display: none;
  }
  .slide-panel {
    left: -70%;
    width: 70%;
  }
  .slide-panel.-zone-panel {
    left: inherit;
    right: -70%;
  }
  .slide-panel .btn-close {
    padding: 18px 10%;
    height: 18px;
    font-size: 1.1em;
  }
  .slide-panel .menu-list {
    padding-bottom: 2%;
    margin-bottom: 2%;
  }
  .slide-panel .menu-list.-profile {
    position: relative;
  }
  .slide-panel .menu-list a.btn {
    width: 84%;
    padding: 5% 8%;
  }
  .slide-panel .menu-list a.btn i {
    margin-right: 20px;
    font-size: 1.2em;
  }
  .message-box {
    width: 90%;
    padding: 28% 5%;
  }
  .message-box.-minibox {
    padding: 1% 5%;
    padding-bottom: 10%;
  }
  .message-box.-minibox .msg {
    margin-bottom: 10%;
  }
  .message-box .icon {
    font-size: 3em;
  }
  .message-box .msg {
    width: 100%;
    margin-bottom: 30%;
    font-size: 1.4em;
  }
  .message-box .control a.btn {
    margin: 10px;
  }
  .message-box .control a.btn i {
    margin-left: 15px;
  }
  #disconnect-bar {
    top: -16px;
    height: 16px;
    font-size: 0.7em;
    line-height: 1.5em;
  }
  #disconnect-bar i {
    margin-right: 5px;
    font-size: 1em;
  }
}
