/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
@font-face {
  font-family: 'maledpan';
  src: url('../font/maledpan/maledpan-regular-webfont.eot');
  src: url('../font/maledpan/maledpan-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/maledpan/maledpan-regular-webfont.woff') format('woff'), url('../font/maledpan/maledpan-regular-webfont.ttf') format('truetype'), url('../font/maledpan/maledpan-regular-webfont.svg#mitr') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  background: #0e2b47;
  font-family: 'maledpan';
  overflow-x: hidden;
}
body .bg-secondary {
  background: #264059 !important;
}
body .font-color {
  color: #9eaab5 !important;
}
body .border-color {
  border-bottom: 1px solid #264059 !important;
}
body.alert {
  background: #c62828;
}
body.alert .bg-secondary {
  background: #e53935 !important;
}
body.alert .font-color {
  color: #ef9a9a !important;
}
body.alert .border-color {
  border-bottom: 1px solid #e53935 !important;
}
body.active {
  background: #43a047;
}
body.active .bg-secondary {
  background: #388e3c !important;
}
body.active .font-color {
  color: #a5d6a7 !important;
}
body.active .border-color {
  border-bottom: 1px solid #388e3c !important;
}
body.disconnect {
  background: #ff8f00;
}
body.disconnect .bg-secondary {
  background: #ffa000 !important;
}
body.disconnect .font-color {
  color: #ffe082 !important;
}
body.disconnect .border-color {
  border-bottom: 1px solid #ffa000 !important;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.header {
  width: 80%;
  padding: 0 10%;
  height: 80px;
  display: flex;
  z-index: 99;
  background: transparent;
  align-items: center;
  justify-content: center;
}
.header a.logo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}
.header a.logo-icon img {
  padding: 20px 0;
  height: 40px;
}
.header .title {
  color: #ffffff;
  font-size: 1.4em;
  margin-left: auto;
  margin-right: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
}
.header .title:hover {
  cursor: default;
}
.header .btn-icon {
  font-size: 1.4em;
  width: 80px;
  height: 80px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.header .btn-text {
  font-size: 0.9799999999999999em;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  color: #ffffff;
  box-sizing: border-box;
  font-weight: bold;
}
.container {
  width: 60%;
  margin: 0 20%;
}
.container .box {
  display: flex;
  flex-direction: column;
}
.container .box:last-child .device-list {
  border-bottom: 0;
}
.container .box .head {
  display: flex;
  height: 80px;
  margin-bottom: 10px;
  align-items: center;
}
.container .box .head .title {
  font-size: 1.9599999999999997em;
  color: #9eaab5;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .box .head .title:hover {
  cursor: default;
}
.container .box .head a {
  font-size: 0.9799999999999999em;
  text-decoration: none;
  padding: 4px 20px;
  background: #264059;
  color: #9eaab5;
  border-radius: 5px;
}
.container .box .device-list {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 40px;
}
.container .box .device-list a.device-card {
  width: 23%;
  padding: 3%;
  margin-right: 2.66%;
  margin-bottom: 2.66%;
  height: 170px;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #264059;
  color: #9eaab5;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.container .box .device-list a.device-card:hover {
  transform: translateY(-5px);
}
.container .box .device-list a.device-card.create-button {
  background: transparent;
  border: 2px dashed #9eaab5;
  color: #9eaab5;
  font-size: 1.4em;
  align-items: center;
  box-shadow: none;
}
.container .box .device-list a.device-card.create-button:hover {
  transform: initial;
}
.container .box .device-list a.device-card:nth-child(4n+0) {
  margin-right: 0%;
}
.container .box .device-list a.device-card .name {
  font-size: 1.4em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.container .box .device-list a.device-card .temp {
  font-size: 2.3519999999999994em;
  font-weight: bold;
}
.container .box .device-list a.device-card .info {
  font-size: 0.9799999999999999em;
  display: flex;
}
.container .box .device-list a.device-card .info .updated {
  font-size: 0.9799999999999999em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: auto;
}
.container .box .device-list a.device-card .info .icon {
  margin-left: 10px;
}
.container .box .device-list a.device-card.lostconnect {
  background: #ff8f00;
  color: #ffffff;
}
.container .box .device-list a.device-card.lostconnect .info {
  color: #ffe082;
}
.container .box .device-list a.device-card.active {
  background: #43a047;
  color: #ffffff;
}
.container .box .device-list a.device-card.active .info {
  color: #a5d6a7;
}
.container .box .device-list a.device-card.alret {
  background: #c62828;
  color: #ffffff;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.container .box .device-list a.device-card.alret .info {
  color: #ef9a9a;
}
.container .box-empty {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: 0 30%;
  height: 100%;
  text-align: left;
}
.container .box-empty h1 {
  font-size: 1.9599999999999997em;
  color: #9eaab5;
  margin-bottom: 5px;
}
.container .box-empty p {
  font-size: 1.4em;
  margin-bottom: 30px;
  color: #9eaab5;
}
.container .box-empty a {
  width: 100%;
  border: 0px;
  padding: 16px 0;
  margin: 0%;
  margin-top: 15px;
  border-radius: 5px;
  background: #43a047;
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.form {
  width: 40%;
  margin: 80px 30%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
.form.vertical-center {
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0 30%;
}
.form.login {
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  margin: 0 35%;
}
.form.login.logout {
  font-size: 1.4em;
  color: #ffffff;
}
.form.login p {
  font-size: 1.4em;
  margin-bottom: 32px;
  color: #9eaab5;
}
.form.login p a {
  color: #ffffff;
  font-weight: bold;
}
.form.login .logo {
  width: 25%;
  margin-bottom: 32px;
  float: left;
  display: block;
}
.form.login .logo img {
  width: 100%;
  float: left;
  display: block;
}
.form .form-items {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.form .form-items.hidden {
  display: none;
}
.form .form-items:last-child {
  margin-bottom: 0;
}
.form .form-items label {
  font-size: 0.9799999999999999em;
  color: #9eaab5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}
.form .form-items label i {
  margin-left: 5px;
}
.form .form-items label .label-button {
  color: #9eaab5;
  text-decoration: none;
  background: #264059;
  padding: 0px 10px;
  border-radius: 5px;
}
.form .form-items label .label-button:hover {
  cursor: pointer;
}
.form .form-items label:hover {
  cursor: pointer;
}
.form .form-items .input-text,
.form .form-items .input-textarea {
  width: 100%;
  float: left;
  display: block;
  font-size: 1.4em;
  padding: 10.666666666666666px 16px;
  background: transparent;
  color: #9eaab5;
  margin: 0%;
  box-sizing: border-box;
  border: 2px solid #264059;
  resize: none;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'maledpan';
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.form .form-items .input-text.loading,
.form .form-items .input-textarea.loading {
  background: transparent;
  color: #0e2b47;
}
.form .form-items .input-text::placeholder,
.form .form-items .input-textarea::placeholder {
  color: #264059;
}
.form .form-items .input-text:hover,
.form .form-items .input-textarea:hover {
  cursor: pointer;
}
.form .form-items .input-text:focus,
.form .form-items .input-textarea:focus {
  color: #ffffff;
  border: 2px solid #ffffff;
}
.form .form-items .input-text:disabled,
.form .form-items .input-textarea:disabled {
  background: #264059;
  color: #0e2b47;
}
.form .form-items .input-textarea {
  height: 100px;
}
.form .form-items .btn-submit {
  width: 100%;
  border: 0px;
  padding: 16px 0;
  margin: 0%;
  margin-top: 16px;
  border-radius: 5px;
  background: #ffffff;
  color: #0e2b47;
  font-size: 1.4em;
  font-weight: bold;
  margin-left: auto;
  font-family: 'maledpan';
  line-height: 1.25em;
}
.form .form-items .btn-submit i {
  margin-left: 10px;
  font-size: 0.9em;
}
.form .form-items .btn-submit:hover {
  cursor: pointer;
}
.form .form-items .btn-submit.loading {
  background: #264059;
  color: #9eaab5;
  box-shadow: none;
}
.form .form-items .btn-submit.completed {
  background: #43a047;
  color: #ffffff;
  box-shadow: none;
}
.form .form-items .note {
  color: #9eaab5;
  font-size: 0.9799999999999999em;
  margin-top: 10px;
}
.form .form-items .note a {
  color: #0e2b47;
  text-decoration: none;
  font-weight: bold;
}
.form .form-items .note a:hover {
  text-decoration: underline;
}
.form .form-items .inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form .form-items .inputs .input-text {
  width: 49%;
  text-align: center;
  flex-grow: unset;
}
.form .form-items .lists {
  display: flex;
  flex-direction: column;
  border: 2px solid #264059;
  border-radius: 5px;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.form .form-items .lists .list-items {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #264059;
}
.form .form-items .lists .list-items:last-child {
  border-bottom: 0;
}
.form .form-items .lists .list-items .c {
  width: 85%;
  padding: 2.5% 3%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #ffffff;
}
.form .form-items .lists .list-items .btn {
  width: 15%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #264059;
}
.form .form-items .lists .list-items .btn:hover {
  cursor: pointer;
  color: #9eaab5;
}
.form .toggle-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1em;
  justify-content: space-between;
  font-size: 1.4em;
  margin-bottom: 15px;
  color: #ffffff;
}
.form .toggle-items i {
  font-size: 1.75em;
  padding: 0;
  color: #264059;
}
.form .toggle-items i.fa-toggle-on {
  color: #43a047;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
.form .toggle-items i:hover {
  cursor: pointer;
}
.device-info {
  width: 40%;
  margin: 80px 30%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.device-info .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.device-info .info .temperature-current {
  line-height: 1.2em;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}
.device-info .info .temperature-current .value {
  font-size: 7.839999999999999em;
  text-shadow: 3px 6px 15px rgba(0, 0, 0, 0.1);
}
.device-info .info .temperature-current .unit {
  font-size: 1.4em;
}
.device-info .info p {
  font-size: 0.9799999999999999em;
  color: #ffffff;
}
.device-info .info p i {
  margin-left: 10px;
}
.device-info .info:hover {
  cursor: default;
}
.device-info .temperature-stat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.device-info .temperature-stat .box {
  width: 31.33%;
  margin-right: 3%;
  padding: 0 5%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  color: #ffffff;
}
.device-info .temperature-stat .box:nth-child(3n+0) {
  margin-right: 0%;
}
.device-info .temperature-stat .box div .value {
  font-size: 2.3519999999999994em;
  line-height: 1.2em;
}
.device-info .temperature-stat .box div .unit {
  font-size: 0.9799999999999999em;
}
.device-info .temperature-stat .box p {
  font-size: 0.9799999999999999em;
}
.device-info .temperature-stat .box:hover {
  cursor: default;
}
.device-info h2 {
  font-size: 1.4em;
  margin-bottom: 15px;
  color: #ffffff;
  font-weight: normal;
}
.device-info h2 i {
  width: 35px;
}
.device-info .graph {
  width: 100%;
  display: flex;
  height: 100px;
  margin-bottom: 40px;
  box-sizing: border-box;
}
.device-info .graph canvas {
  width: 100%;
}
.device-info .history {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.device-info .history .logitems {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 0;
  font-size: 1.4em;
  color: #ffffff;
  border-bottom: 1px dotted #9eaab5;
}
.device-info .history .logitems:last-child {
  border-bottom: 0;
}
.device-info .history .logitems:hover {
  cursor: default;
}
.device-info .history .logitems.alert .status {
  color: #ffffff;
}
.device-info .history .logitems .status {
  width: 5%;
  color: transparent;
  font-size: 0.7em;
}
.device-info .history .logitems .time {
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.device-info .history .logitems .icon {
  width: 5%;
  text-align: right;
  font-size: 0.7em;
}
.device-info .history .logitems .temp {
  width: 20%;
  text-align: right;
  font-weight: bold;
}
.device-info .history .loading {
  width: 100%;
  padding: 15% 0;
  display: flex;
  justify-content: center;
  font-size: 1.4em;
  font-style: italic;
  color: #9eaab5;
}
.device-info .history .empty {
  width: 100%;
  padding: 15% 0;
  display: flex;
  justify-content: center;
  color: #9eaab5;
  font-size: 1.4em;
  font-style: italic;
}
.footer {
  width: 60%;
  margin: 0 20%;
  margin-bottom: 2%;
  color: #9eaab5;
  display: flex;
  font-size: 0.9799999999999999em;
  flex-direction: row;
  justify-content: space-between;
}
.footer i {
  margin-right: 5px;
}
.footer a {
  padding: 3px 10px;
  text-decoration: none;
  background: #264059;
  color: #9eaab5;
  border-radius: 5px;
}
#progress-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 5%;
  height: 3px;
  background: #0e2b47;
  float: left;
  display: block;
  z-index: 100;
  display: none;
}
#loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 5%;
  height: 3px;
  border-radius: 5px;
  background: #ffffff;
  float: left;
  display: block;
  z-index: 100;
  transition: all 10s ease-in-out;
  -moz-transition: all 10s ease-in-out;
  -webkit-transition: all 10s ease-in-out;
  -o-transition: all 10s ease-in-out;
}
#loading-bar.action {
  transform: translateX(1900%);
}
#filter {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  float: left;
  display: block;
  z-index: 999;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.65);
  display: none;
}
.message-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message-box .msg {
  font-size: 1.9599999999999997em;
  color: #9eaab5;
  margin-bottom: 25px;
}
.message-box .msg strong {
  color: #ffffff;
}
.message-box .control {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.message-box .control p {
  padding: 14px 0;
  font-size: 1.4em;
  color: #9eaab5;
}
.message-box .control a.btn {
  text-decoration: none;
  background: #ffffff;
  color: #0e2b47;
  font-size: 1.4em;
  padding: 14px 28px;
  margin: 0 10px;
  font-weight: bold;
  border-radius: 5px;
  display: block;
}
.message-box .control a.btn i {
  margin-left: 15px;
}
.message-box .control a.btn.btn-not-Accept {
  background: #264059;
  color: #9eaab5;
}
/* Other Device and Screen */
@media only screen and (min-width: 0px) and (max-width: 519px) {
  .header {
    width: 100%;
    padding: 0;
    height: 60px;
  }
  .header a.logo-icon {
    padding: 0 5%;
  }
  .header a.logo-icon img {
    padding: 15px 0;
    height: 30px;
  }
  .header .title {
    font-size: 1.8em;
  }
  .header .title:first-child {
    padding-left: 5%;
  }
  .header .btn-icon {
    width: 60px;
    height: 60px;
  }
  .header .btn-text {
    font-size: 1em;
    padding: 6px 15px;
    border-radius: 5px;
  }
  .header .btn-text:last-child {
    margin-right: 5%;
  }
  .container {
    width: 90%;
    margin: 0 5%;
  }
  .container .box {
    display: flex;
    flex-direction: column;
  }
  .container .box:last-child .device-list {
    border-bottom: 0;
  }
  .container .box .head {
    display: flex;
    height: 60px;
    margin-bottom: 7.5px;
    align-items: center;
  }
  .container .box .head .title {
    font-size: 1.8em;
    color: #9eaab5;
    margin-right: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .container .box .head .title:hover {
    cursor: default;
  }
  .container .box .head a {
    font-size: 1em;
    text-decoration: none;
    padding: 3px 15px;
    background: #264059;
    color: #9eaab5;
    border-radius: 5px;
  }
  .container .box .device-list {
    margin-bottom: 30px;
  }
  .container .box .device-list a.device-card {
    width: 47.5%;
    padding: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 170px;
    border-radius: 5px;
  }
  .container .box .device-list a.device-card.create-button {
    font-size: 1.4em;
  }
  .container .box .device-list a.device-card:nth-child(4n+0) {
    margin-right: inherit;
  }
  .container .box .device-list a.device-card:nth-child(2n+0) {
    margin-right: 0%;
  }
  .container .box .device-list a.device-card .name {
    font-size: 1.4em;
  }
  .container .box .device-list a.device-card .temp {
    font-size: 2.16em;
  }
  .container .box .device-list a.device-card .info {
    font-size: 1em;
  }
  .container .box .device-list a.device-card .info .updated {
    font-size: 1em;
  }
  .container .box .device-list a.device-card .info .icon {
    margin-left: 10px;
  }
  .container .box-empty {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: 0 30%;
  }
  .container .box-empty h1 {
    font-size: 1.8em;
    color: #9eaab5;
    margin-bottom: 5px;
  }
  .container .box-empty p {
    font-size: 1.4em;
    margin-bottom: 30px;
    color: #9eaab5;
  }
  .container .box-empty a {
    width: 100%;
    border: 0px;
    padding: 16px 0;
    margin: 0%;
    margin-top: 15px;
    border-radius: 5px;
    background: #43a047;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }
  .form {
    width: 90%;
    margin: 80px 5%;
    margin-top: 60px;
  }
  .form.vertical-center {
    position: initial;
    height: 90%;
    margin: 0 5%;
  }
  .form.login {
    position: initial;
    height: 100%;
    width: 90%;
    height: 90%;
    margin: 5%;
  }
  .form.login.logout {
    font-size: 1.6em;
    color: #ffffff;
  }
  .form.login p {
    font-size: 1.4em;
    margin-bottom: 32px;
    color: #9eaab5;
  }
  .form.login p a {
    color: #ffffff;
    font-weight: bold;
  }
  .form.login .logo {
    width: 25%;
    margin-bottom: 32px;
    float: left;
    display: block;
  }
  .form.login .logo img {
    width: 100%;
    float: left;
    display: block;
  }
  .form .form-items {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  .form .form-items.hidden {
    display: none;
  }
  .form .form-items:last-child {
    margin-bottom: 0;
  }
  .form .form-items label {
    font-size: 1em;
    color: #9eaab5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .form .form-items label i {
    margin-left: 5px;
  }
  .form .form-items label .label-button {
    color: #9eaab5;
    text-decoration: none;
    background: #264059;
    padding: 0px 10px;
    border-radius: 5px;
  }
  .form .form-items label .label-button:hover {
    cursor: pointer;
  }
  .form .form-items label:hover {
    cursor: pointer;
  }
  .form .form-items .input-text,
  .form .form-items .input-textarea {
    width: 100%;
    float: left;
    display: block;
    font-size: 1.4em;
    padding: 13.333333333333334px 16px;
    background: transparent;
    color: #9eaab5;
    margin: 0%;
    box-sizing: border-box;
    border: 2px solid #264059;
    resize: none;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'maledpan';
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .form .form-items .input-text.loading,
  .form .form-items .input-textarea.loading {
    background: transparent;
    color: #0e2b47;
  }
  .form .form-items .input-text::placeholder,
  .form .form-items .input-textarea::placeholder {
    color: #264059;
  }
  .form .form-items .input-text:hover,
  .form .form-items .input-textarea:hover {
    cursor: pointer;
  }
  .form .form-items .input-text:focus,
  .form .form-items .input-textarea:focus {
    color: #ffffff;
    border: 2px solid #ffffff;
  }
  .form .form-items .input-text:disabled,
  .form .form-items .input-textarea:disabled {
    background: #264059;
    color: #0e2b47;
  }
  .form .form-items .input-textarea {
    height: 100px;
  }
  .form .form-items .btn-submit {
    width: 100%;
    border: 0px;
    padding: 16px 0;
    margin: 0%;
    margin-top: 16px;
    border-radius: 5px;
    background: #ffffff;
    color: #0e2b47;
    font-size: 1.4em;
    font-weight: bold;
    margin-left: auto;
    font-family: 'maledpan';
    line-height: 1.25em;
  }
  .form .form-items .btn-submit i {
    margin-left: 10px;
    font-size: 0.9em;
  }
  .form .form-items .btn-submit:hover {
    cursor: pointer;
  }
  .form .form-items .btn-submit.loading {
    background: #264059;
    color: #9eaab5;
    box-shadow: none;
  }
  .form .form-items .btn-submit.completed {
    background: #43a047;
    color: #ffffff;
    box-shadow: none;
  }
  .form .form-items .note {
    color: #9eaab5;
    font-size: 1em;
    margin-top: 10px;
  }
  .form .form-items .note a {
    color: #0e2b47;
    text-decoration: none;
    font-weight: bold;
  }
  .form .form-items .note a:hover {
    text-decoration: underline;
  }
  .form .form-items .inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .form .form-items .inputs .input-text {
    width: 49%;
    text-align: center;
    flex-grow: unset;
  }
  .form .form-items .lists {
    display: flex;
    flex-direction: column;
    border: 2px solid #264059;
    border-radius: 5px;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  .form .form-items .lists .list-items {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #264059;
  }
  .form .form-items .lists .list-items:last-child {
    border-bottom: 0;
  }
  .form .form-items .lists .list-items .c {
    width: 85%;
    padding: 2.5% 3%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #ffffff;
  }
  .form .form-items .lists .list-items .btn {
    width: 15%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #264059;
  }
  .form .form-items .lists .list-items .btn:hover {
    cursor: pointer;
    color: #9eaab5;
  }
  .form .toggle-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1em;
    justify-content: space-between;
    font-size: 1.4em;
    margin-bottom: 15px;
    color: #ffffff;
  }
  .form .toggle-items i {
    font-size: 1.75em;
    padding: 0;
    color: #264059;
  }
  .form .toggle-items i.fa-toggle-on {
    color: #43a047;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  }
  .form .toggle-items i:hover {
    cursor: pointer;
  }
  .device-info {
    width: 90%;
    margin: 60px 5%;
    margin-top: 30px;
  }
  .device-info .info {
    margin-bottom: 15px;
  }
  .device-info .info .temperature-current .value {
    font-size: 3.6em;
  }
  .device-info .info .temperature-current .unit {
    font-size: 1.4em;
  }
  .device-info .info p {
    font-size: 1em;
  }
  .device-info .info p i {
    margin-left: 10px;
  }
  .device-info .temperature-stat {
    margin-bottom: 30px;
  }
  .device-info .temperature-stat .box {
    width: 31.33%;
    margin-right: 3%;
    padding: 0 5%;
    height: 90px;
    border-radius: 5px;
  }
  .device-info .temperature-stat .box div .value {
    font-size: 2.16em;
  }
  .device-info .temperature-stat .box div .unit {
    font-size: 1em;
  }
  .device-info .temperature-stat .box p {
    font-size: 1em;
  }
  .device-info h2 {
    font-size: 1.4em;
    margin-bottom: 15px;
  }
  .device-info h2 i {
    width: 35px;
  }
  .device-info .graph {
    height: 100px;
    margin-bottom: 30px;
  }
  .device-info .history .logitems {
    padding: 15px 0;
    font-size: 1.4em;
  }
  .device-info .history .logitems .status {
    width: 5%;
    font-size: 0.7em;
  }
  .device-info .history .logitems .time {
    width: 70%;
  }
  .device-info .history .logitems .icon {
    width: 5%;
    font-size: 0.7em;
  }
  .device-info .history .logitems .temp {
    width: 20%;
  }
  .device-info .history .loading {
    padding: 15% 0;
    font-size: 1.4em;
  }
  .device-info .history .empty {
    padding: 15% 0;
    font-size: 1.4em;
  }
  .footer {
    width: 90%;
    margin: 0 5%;
    margin-bottom: 5%;
    font-size: 1em;
  }
  .footer i {
    margin-right: 5px;
  }
  .footer a {
    padding: 3px 10px;
    border-radius: 5px;
  }
  #progress-bar {
    height: 3px;
  }
  #loading-bar {
    height: 3px;
    border-radius: 5px;
  }
  .message-box {
    width: 90%;
    margin: 0 5%;
  }
  .message-box .msg {
    font-size: 1.8em;
    margin-bottom: 25px;
  }
  .message-box .control p {
    padding: 14px 0;
    font-size: 1.4em;
  }
  .message-box .control a.btn {
    font-size: 1.4em;
    padding: 14px 28px;
    margin: 0 10px;
    border-radius: 5px;
  }
  .message-box .control a.btn i {
    margin-left: 15px;
  }
}
