@font-face {
    font-family: 'maledpan';
    src: url('../font/maledpan/maledpan-regular-webfont.eot');
    src: url('../font/maledpan/maledpan-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/maledpan/maledpan-regular-webfont.woff') format('woff'),
         url('../font/maledpan/maledpan-regular-webfont.ttf') format('truetype'),
         url('../font/maledpan/maledpan-regular-webfont.svg#mitr') format('svg');
    font-weight: normal;
    font-style: normal;
}

@FontStylePrimary   : sans-serif;
@font_family_topic  : 'maledpan';

// http://www.color-hex.com/color/21ce99
@primary_color      :#2962FF; // Active Color
@primary_color_dark :#3581C2;
@primary_color_light:#64BEE3;

@second_color       :#e74c3c; // Alert Color
@second_color_dark  :#451612; // Alert Color
@second_color_light :#f3a59d; // Alert Color

@third_color        :#ff9800; // Lost Color
@third_color_dark   :#4c2d00; // Lost Color
@third_color_light  :#ffcb7f; // Lost Color

// http://www.color-hex.com/color/040d14
@bg_color           :#FFFFFF;
@bg_color_dark      :#030a10;
@bg_color_light     :#1d252b;
@text_active_color  :#000000;

// @text_normal_color  :#111111;

@text_color_normal: #37474F;
@text_color_light: #455A64;
@text_color_dark: #263238;

@icon_color_default: #999999;
@icon_color_hover: #000000;

@border_color: #ECEFF1;
@border_color_hover: #B0BEC5;

@font-size-normal: 1.2em;
@font-size-mini: 0.75em;

@green_color: #00B900;
@red_color: #eb4e3d;

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a[href], button {
    -ms-touch-action: none; /* IE10 */
    touch-action: none;     /* IE11 */
}

body{
    background: @bg_color;
    font-family: 'sans-serif';
    font-weight: 200;
    overflow-x:hidden;
}

// Freebie: Google Material Design Shadow Helper
// https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d
// by Florian Kutschera
.BoxShadowHelper(@level) when (@level = 1) {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.BoxShadowHelper(@level) when (@level = 2) {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.BoxShadowHelper(@level) when (@level = 3) {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.BoxShadowHelper(@level) when (@level = 4) {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.BoxShadowHelper(@level) when (@level = 5) {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-10px);}
    60% {-webkit-transform: translateY(-5px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
}

.bounce{
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
}

// Animation of Textarea
.animated{
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.transitionAnimation(@s){
    transition: all @s ease-in-out;
    -moz-transition: all @s ease-in-out;
    -webkit-transition: all @s ease-in-out;
    -o-transition: all @s ease-in-out;
}