.header{
	height: 54px;

	.mobile-title{
		width: 68%;
		padding: 16px 0%;
		height: 22px;
		display: inline-block;
	}

	.title{
		width: 68%;
		padding: 16px 0%;
		height: 22px;
		text-align: center;
	}

	.navi-items{ display: none; }

	.btn{
		width: 16%;
		padding: 16px 0%;
		height: 22px;

		&.btn-zone-toggle{ display: inline-block; }
	}
}

.container{
	width: 100%;
	margin: 5% 0%;
	margin-top: 54px;

	.temp-card{
		width: 47%;
		padding: 2% 0%;
		padding-top: 4%;
		margin: 0%;
		margin-left: 2%;
		margin-bottom: 2%;

		.icon{
			width: 90%;
			padding: 5%;
			font-size: 0.6em;
		}
		a.temp{
			width: 80%;
			padding: 5% 10%;
			font-size: 2.8em;
		}

		.detail{
			width: 80%;
			padding: 0% 10%;
			line-height: 1.3em;

			.name{
				font-size: 1.1em;
				padding: 3% 0%;
			}

			.desc{
				font-size: 0.7em;
				letter-spacing: 0px;
			}
		}
	}
}

.logout{ margin-top: 60%; }

.login{
	.welcome{
		width: 90%;
		margin: 5%;

		.logo{
			width: 20%;
			margin: 3% 40%;
		}
		h1{ font-size: 1.6em; }
		p{ font-size: 1em; }
	}


	.detail{
		width: 80%;
		padding: 0%;
		margin: 10%;
		border: 0px;

		.input-text{ margin-bottom: 3%; }
		.btn{
			padding: 5%;
			margin-top: 5%;
		}
	}
}

.form{
	width: 90%;
	margin: 0% 5%;
	padding-bottom: 5%;

	h2{ display: none; }

	.form-items{
		margin-top: 5%;
		margin-bottom: 0%;

		&.toggle-type{
			border-bottom: 1px solid @border_color;
			.label{ width: 50%; }
			.input{
				width: 50%;
				text-align: right;
			}
		}

		.label{
			width: 100%;
			padding: 2% 0%;
			margin-right: 0%;
			line-height: 1.5em;
			text-align: left;
		}

		.input{
			width: 100%;

			.input-text, .input-textarea{
				width: 94%;
				padding: 3%;
			}

			.select{ select{ padding: 3%; } }

			#btn-status-toggle , #btn-notify-toggle{
				font-size: 3em;
				margin-top: -12%;
			}

			button.btn{
				width: 100%;
				padding: 5%;
				margin-top: 5%;
			}

			a.btn-nav{
				width: 90%;
				padding: 5%;
				margin-top: 5%;
				text-align: center;
			}

			.list{
				.list-items{
					margin-top: 2%;

					.c{ padding: 3% 4%; }
					.btn{
						width: 6%;
						padding: 3% 2%;
					}
				}
			}

			.list-input{
				margin-top: 3%;
				.btn{ width: 10%; }
			}
		}
	}
}

.device-info{
	position: relative;
	top: 0px;
	width: 90%;
	padding: 5%;
	border: 0px;
	right: 0%;
	border-radius: 0px;
	box-shadow: none;

	.current{
		padding-bottom: 10%;

		.current-now{
			width: 100%;
			text-align: center;

			.v{ font-size: 5em; }
			.c{ font-size: 0.75em; }
		}

		.current-items{
			width: 50%;
			text-align: center;

			.v{
				font-size: 2em;
				margin-bottom: 3%;
			}
			.c{ font-size: 0.75em; }
		}
	}

	.info{

		.info-items{
			padding: 4% 0%;
			font-size: 1.1em;
		}
	}

	.graph{
		height: 200px;
		canvas{ height: 200px; }
	}
}

.device-history{
	width: 90%;
	margin: 0% 5%;

	.history{
		.logitems{
			padding: 4% 0%;
			font-size: 1.1em;
			.temp{ font-weight: bold; }
		}
	}
}

.footer{ display: none; }

.slide-panel{
	left: -70%;
	width: 70%;

	&.-zone-panel{
		left: inherit;
		right: -70%;
	}

	.btn-close{
		padding: 18px 10%;
		height: 18px;
		font-size: 1.1em;
	}

	.menu-list{
		padding-bottom: 2%;
		margin-bottom: 2%;

		&.-profile{ position: relative; }
		a.btn{
			width: 84%;
			padding: 5% 8%;
			i{ margin-right: 20px; font-size: 1.2em; }
		}
	}
}

.message-box{
	width: 90%;
	padding: 28% 5%;

	&.-minibox{
		padding: 1% 5%;
		padding-bottom: 10%;
		.msg{ margin-bottom: 10%; }
	}
	.icon{ font-size: 3em; }
	.msg{
		width: 100%;
		margin-bottom: 30%;
		font-size: 1.4em;
	}
	.control{
		a.btn{
			margin: 10px;
			i{ margin-left: 15px; }
		}
	}
}

#disconnect-bar{
	top: -16px;
	height: 16px;
	font-size: 0.7em;
	line-height: 1.5em;

	i{
		margin-right: 5px;
		font-size: 1em;
	}
}