@import "reset";
@import "config";

@fontsize_mini: 0.9em;
@fontsize_topic: 2.5em;
@fontsize_normal: 1.2em;
@fontsize_icon: 1.8em;

.header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: row;

	a.btn-icon {
		font-size: @fontsize_icon;
		width: 80px;
		height: 80px;
		color: #666666;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;

		&.btn-back {
			margin-right: auto;
		}

		&:hover {
			color: #000000;
		}
	}

	a.logo-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: auto;

		img {
			height: 60px;
			padding: 10px;
		}
	}
}

.container{
	width: 60%;
	margin: 5% 20%;
	margin-top: 80px;
	float: left;
	display: block;

	.box {
		display: flex;
		flex-direction: column;

		.head {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 25px;
			font-family: @font_family_topic;

			h2 {
				font-size: @fontsize_topic;
			}

			a.button-option {
				text-decoration: none;
				padding: 10px;
				color: #AAAAAA;
				font-size: @fontsize_normal;

				&.first-right {
					margin-left: auto;
				}
			}
		}
		.device-list {
			display: flex;
			flex-flow: row wrap;
			margin-bottom: 25px;
			padding-bottom: 15px;
			border-bottom: 2px solid #EEEEEE;

			a.device-card {
				width: 23%;
				padding: 3%;
				box-sizing: border-box;
				margin-right: 2.66%;
				margin-bottom: 2.66%;
				height: 170px;
				text-decoration: none;
				border-radius: 10px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				background: #DDDDDD;
				color: #999999;

				&.create-button {
					background: #FFFFFF;
					border: 2px dashed #DDDDDD;
					font-size: @fontsize_normal;
					align-items: center;
					
					i {
						font-size: @fontsize_icon;
						margin-bottom: 5px;
					}

					p {
						font-family: @font_family_topic;
					}
				}

				&:nth-child(4n+0) {
					margin-right: 0%;
				}
				.info {
					font-size: @fontsize_normal;
					margin-bottom: 5px;
					font-family: @font_family_topic;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;

					.name {	
						margin-right: 10px;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
					}
				}
				.temp {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					font-size: @fontsize_topic;
					font-weight: bold;
					font-family: @font_family_topic;
					text-align: center;
				}
				.desc {
					font-size: @fontsize_mini;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					text-align: center;
				}

				&.active {
					background: @primary_color_dark;
					color: #FFFFFF;
					box-shadow: 3px 5px 10px rgba(0,0,0,0.15);

					.desc {
						color: @primary_color_light;
					}
				}
				
				&.alret {
					background: @second_color;
					color: #FFFFFF;
					-webkit-animation-name: bounce;
					animation-name: bounce;
					-webkit-animation-duration: 1s;
					animation-duration: 1s;
					-webkit-animation-delay: 1s;
					animation-delay: 1s;
					-webkit-animation-iteration-count:infinite;
					animation-iteration-count:infinite;
				}
		
				&.lostconnect {
					background: #FFEB3B;
					.icon{ color: @third_color; }
				}

				&.disable {
					background: #DDDDDD;
					color: #999999;
				}
			}

			a.link {
				width: 23%;
				padding: 0 3%;
				box-sizing: border-box;
				margin-right: 2.66%;
				margin-bottom: 2.66%;
				height: 80px;
				text-decoration: none;
				background: #EEEEEE;
				border-radius: 10px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				color: #999999;

				&:nth-child(4n+0) {
					margin-right: 0%;
				}

				&.active {
					background: @primary_color;
					color: #FFFFFF;
				}

				.name {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					font-size: @fontsize_normal;
					font-weight: bold;
					font-family: @font_family_topic;
				}
				.counter {
					font-size: @fontsize_mini;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
			}
		}
	}
}

.form {
	width: 30%;
	margin: 80px 35%;
	display: flex;
	flex-direction: column;

	&.login {
		justify-content: center;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		margin: 0 35%;
		text-align: center;

		&.logout {
			font-size: @fontsize_icon;
			color: @primary_color;
		}

		p {
			font-size: @fontsize_normal;
			text-align: center;

			a {
				color: @primary_color;
				text-decoration: none;
			}
		}
	
		.logo{
			width: 30%;
			margin: 0 35%;
			margin-bottom: 15px;
			float: left;
			display: block;
	
			img{
				width: 100%;
				float: left;
				display: block;
			}
		}
	}

	h2 {
		font-size: @fontsize_topic;
		border-bottom: 2px solid #DDDDDD;
		font-family: @font_family_topic;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}

	.form-items {
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;

		&.hidden {
			display: none;
		}

		label {
			font-size: @fontsize_mini;
			color: #666666;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 6px;

			.label-button {
					color: @primary_color;
					i {
							margin-right: 5px;
					}

					&:hover {
							cursor: pointer;
							text-decoration: underline;
					}
			}

			&:hover {
				cursor: pointer;
			}
		}

		.input-text, .input-textarea {
			width: 100%;
			float: left;
			display: block;
			font-size: @fontsize_normal;
			padding: 12px;
			background: #EEEEEE;
			color: #333333;
			margin: 0%;
			border-radius: 5px;
			box-sizing: border-box;
			border: 2px solid #DDDDDD;
			resize: none;

			&:hover {
				cursor: pointer;
			}
			&:focus {
				border: 2px solid @primary_color;
			}
		}

		.input-textarea {
			height: 100px;
		}

		.btn-submit {
			width: 100%;
			float: left;
			display: block;
			font-size: @fontsize_normal;
			border: 0px;
			padding: 12px;
			margin: 0%;
			margin-top: 15px;
			border-radius: 5px;
			background: @primary_color;
			color: @bg_color;
			box-shadow: 1px 3px 5px rgba(0,0,0,0.25);
			font-size: @fontsize_normal;

			i {
				margin-left: 10px;
				font-size: 0.9em;
			}
			
			&:hover {
				cursor: pointer;
				background: @primary_color_dark;
			}
			
			&.loading {
				background: #DDDDDD;
				color: #999999;
				box-shadow: none;
			}
		}

		.note {
			color: #999999;
			font-family: @font_family_topic;
			font-size: @fontsize_mini;
			margin-top: 6px;

			a {
				color: @primary_color;
				i {
					margin-left: 5px;
				}
			}
		}

		.inputs {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.input-text {
				width: 49%;
				text-align: center;
				flex-grow: unset;
			}
		}

		.lists {
			display: flex;
			flex-direction: column;
			border: 2px solid #DDDDDD;
			border-radius: 5px;
			font-size: 1.2em;
			margin-bottom: 10px;

			.list-items {
				display: flex;
				flex-direction: row;
				border-bottom: 1px solid #EEEEEE;

				&:last-child {
					border-bottom: 0;
				}
				.c {
					width: 85%;
					padding: 2.5% 3%;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}

				.btn {
					width: 15%;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					color: #DDDDDD;

					&:hover {
						cursor: pointer;
						color: #999999;
					}
				}
			}
		}
	}

	.toggle-items {
		display: flex;
		flex-direction: row;
		align-items: center;
		line-height: 1em;
		justify-content: space-between;
		font-size: @fontsize_normal;
		margin-bottom: 15px;

		i {
			font-size: @fontsize_normal * 1.75;
			padding: 0;

			&.fa-toggle-on {
				color: @primary_color;
			}
		}
	}
}

.device-info{
	width: 40%;
	margin: 80px 30%;
	display: flex;
	flex-direction: column;
	
	h1 {
		font-size: @fontsize_topic;
		font-family: @font_family_topic;
	}

	.temperature-current {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 3% 0;

		h3 {
			font-family: @font_family_topic;
			font-size: @fontsize_topic * 3;
			line-height: 1.2em;
		}
		p {
			font-size: @fontsize_mini;
		}
	}

	.temperature-stat {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		.box {
			text-align: center;
			flex-grow: 1;
			padding: 1%;

			h3 {
				font-family: @font_family_topic;
				font-size: @fontsize_topic;
				line-height: 1.2em;
			}
			p {
				font-size: @fontsize_mini;
			}

			&.-highest{
				.v{ color: @text_normal_color; }
				.over{ color: @second_color; }
			}
			&.-lowest{
				.v{ color: @text_normal_color; }
				.over{ color: @second_color; }
			}
		}
	}

	.info {
		font-size: @fontsize_mini;
		display: flex;
		flex-direction: row;

		a {
			text-decoration: none;
			margin-right: 15px;
			color: #666666;

			i {
				margin-right: 5px;
				color: @primary_color;
			}
		}
	}

	.graph{
		width: 100%;
		margin-top: 5%;
		display: flex;
		height: 250px;

		canvas{
			width: 100%;
			height: 250px;
		}
	}
}

.device-history{
	width: 40%;
	margin: 0 30%;
	padding-bottom: 5%;
	display: flex;

	.history{
		width: 100%;
		display: flex;
		flex-direction: column;

		.logitems {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 10px 15px;
			font-size: @fontsize_normal;
			font-family: @font_family_topic;
			border-radius: 5px;

			&:nth-child(odd) {
				background: #EEEEEE;
			}

			&:hover {
				cursor: pointer;
				background: #DDDDDD;
			}

			.icon{
				width: 5%;
				i.fa-caret-down{ color: @primary_color; }
				i.fa-caret-up{ color: @second_color; }
			}
			.temp{
				width: 25%;
				color: @text_active_color;
			}
			.time{
				width: 30%;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			.id{
				width: 40%;
				text-align: right;
				color: #BBBBBB;

				i {
					color: @second_color;
					margin-left: 5px;
				}
			}
		}

		.loading {
			width: 100%;
			margin: 20% 0%;
			float: left;
			display: block;
			text-align: center;
			color: @text_normal_color;
			font-size: 0.9em;
		}

		.empty {
			width: 100%;
			margin: 20% 0%;
			float: left;
			display: block;
			text-align: center;
			color: @text_normal_color;
			font-size: 0.9em;
		}
	}
}

.footer {
	width: 60%;
	margin: 0 20%;
	margin-bottom: 5%;
	color: #666666;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: @font_family_topic;
	font-size: @fontsize_mini;

	i {
		margin-right: 10px;
	}
}

#progress-bar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 5%;
	height: 3px;
	background: @primary_color;
	float: left;
	display: block;
	z-index: 100;
	display: none;
}


#loading-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 5%;
	height: 2px;
	border-radius: 20%;
	background: @primary_color;
	float: left;
	display: block;
	z-index: 100;

	.transitionAnimation(10s);

	&.-action{
		transform: translateX(1900%);
	}
}

#filter {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	float: left;
	display: block;
	z-index: 999;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	background: rgba(0,0,0,0.65);
	display: none;
}

.message-box {
	width: 100%;
	padding: 12% 0%;
	float: left;
	display: block;
	text-align: center;

	&.-minibox{
		padding: 8% 0%;
		.msg{ margin-bottom: 4%; }
	}

	.icon{
		width: 100%;
		float: left;
		display: block;
		font-size: 5em;
		color: @bg_color_light;
	}
	.msg{
		width: 100%;
		margin-bottom: 8%;
		float: left;
		display: block;
		font-size: 2em;
		color: @text_active_color;
	}
	.control{
		width: 100%;
		float: left;
		display: block;

		a.btn{
			text-decoration: none;
			background: @primary_color;
			color: @primary_color_dark;
			padding: 10px 25px;
			margin: 5px;
			border-radius: 2px;

			i{ margin-left: 10px; }

			&.btn-not-Accept{
				background: transparent;
				color: @text_normal_color;
			}
		}
	}
}

#disconnect-bar {
	position: fixed;
	bottom: -50px;
	left: 0px;
	width: 100%;
	height: 50px;
	display: flex;
	background: @third_color;
	color: @third_color_dark;
	font-family: @font_family_topic;
	font-size: @fontsize_normal;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	
	.transitionAnimation(0.3s);

	&.-active {
		transform: translateY(-100%);
	}

	i {
		margin-right: 10px;
	}
}
/* Other Device and Screen */
@media only screen and (min-width:1910px) {@import "style-1920";}
@media only screen and (min-width:1024px) and (max-width:1365px){@import "style-1024-1366";}
@media only screen and (min-width:760px) and (max-width:1023px){@import "style-760-1023";}
@media only screen and (min-width:520px) and (max-width:759px){@import "style-520-759";}
@media only screen and (min-width:0px) and (max-width :519px){@import "style-0-519";}
