@import "reset";
@import "config";

.header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	float: left;
	display: block;
	z-index: -1;

	a.btn-icon {
		float: left;
		display: block;
		font-size: 1.8em;
		width: 80px;
		height: 40px;
		padding: 20px 0;
		text-align: center;
		color: #666666;

		&.right {
			float: right;
		}

		&:hover {
			color: #000000;
		}
	}

	a.logo-icon {
		float: left;
		display: block;

		img {
			height: 60px;
		padding: 10px;
		}
	}

	a.logo-title{
		float: left;
		display: block;
		font-size: 2em;
		height: 40px;
		padding: 20px 10px;
		text-decoration: none;
		line-height: 1.3em;
		color: #000000;
	}
}

.container{
	width: 60%;
	margin: 5% 20%;
	margin-top: 80px;
	float: left;
	display: block;

	.box {
		display: flex;
		flex-direction: column;

		.head {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 25px;
			font-family: @font_family_topic;

			h2 {
				font-size: 2.5em;
			}
			a.button-option {
				text-decoration: none;
				padding: 7px 15px;
				border: 1px solid #EEEEEE;
				border-radius: 10px;
				margin-left: 10px;
				color: #AAAAAA;

				&.first-right {
					margin-left: auto;
				}

				i {
					margin-right: 10px;
				}
			}
		}
		.filter {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 25px;
			font-family: @font_family_topic;
			font-size: 1.2em;

			a.filter-item {
				text-decoration: none;
				margin-right: 15px;
				color: #666666;

				&.active {
					color: #000000;
					font-weight: bold;
				}
			}
		}
		.lists {
			display: flex;
			flex-flow: row wrap;
			margin-bottom: 25px;
			padding-bottom: 15px;
			border-bottom: 1px solid #DDDDDD;

			a.device-card {
				width: 23%;
				padding: 3%;
				box-sizing: border-box;
				margin-right: 2.66%;
				margin-bottom: 2.66%;
				height: 170px;
				text-decoration: none;
				border-radius: 10px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: relative;
				background: #DDDDDD;
				color: #999999;

				&:nth-child(4n+0) {
					margin-right: 0%;
				}

				.icon {
					position: absolute;
					width: 20px;
					height: 20px;
					top: 15px;
					right: 15px;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 1.2em;
				}

				.temp {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					font-size: 3em;
					font-weight: bold;
					font-family: @font_family_topic;
				}
				.name {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					font-size: 1.2em;
					margin-bottom: 5px;
					font-family: @font_family_topic;
				}
				.desc {
					font-size: 0.8em;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}

				&.active {
					background: @primary_color_dark;
					color: #FFFFFF;
					box-shadow: 3px 5px 10px rgba(0,0,0,0.15);

					.desc {
						color: @primary_color_light;
					}
				}
				
				&.alret{
					background: @second_color;
					color: #FFFFFF;
		
					-webkit-animation-name: bounce;
						animation-name: bounce;
		
					-webkit-animation-duration: 1s;
					animation-duration: 1s;
		
					-webkit-animation-delay: 1s;
						animation-delay: 1s;
		
					 -webkit-animation-iteration-count:infinite;
					 animation-iteration-count:infinite;
				}
		
				&.lostconnect{
					.icon{ color: @third_color; }
				}
			}

			a.link {
				width: 23%;
				padding: 0 3%;
				box-sizing: border-box;
				margin-right: 2.66%;
				margin-bottom: 2.66%;
				height: 80px;
				text-decoration: none;
				background: #EEEEEE;
				border-radius: 10px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				color: #999999;

				&:nth-child(4n+0) {
					margin-right: 0%;
				}

				&.active {
					background: @primary_color;
					color: #FFFFFF;
				}

				.name {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					font-size: 1.2em;
					font-weight: bold;
					font-family: @font_family_topic;
				}
				.counter {
					font-size: 0.8em;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
			}
		}
	}

	.space-list {
		width: 100%;
		float: left;
		display: block;
		margin-top: 20px;

		a.link {
			float: left;
			padding: 10px 20px;
			display: block;
			text-decoration: none;
			font-size: 1.2em;
			border-radius: 20px;
			border: 1px solid #EEEEEE;
			margin-bottom: 10px;
			margin-right: 10px;
			line-height: 1em;
			color: #999999;
			background: #FAFAFA;

			&.active {
				color: #FFFFFF;
				background: @primary_color;
				border: 1px solid @primary_color;
			}

			&.button {
				background: transparent;
				border: 1px dashed #AAAAAA;
				i {
					margin-right: 10px;
				}
			}
		}
	}

	.option-list {
		width: 100%;
		float: left;
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;
		border-bottom: 2px solid #DDDDDD;

		.button {
			float: left;
			display: block;
			font-size: 1.1em;
			text-decoration: none;
			padding: 15px 0;
			margin-right: 20px;
			color: #666666;

			&.active {
				color: @primary_color;
			}

			&.right {
				float: right;
				margin: 0;
				margin-left: 20px;

				i {
					margin-right: 5px;
				}
			}
		}
	}

	.templist {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		
		.temp-card{
			width: 32%;
			margin-bottom: 2%;
			display: flex;
			height: 200px;
			font-family: @font_family_topic;
			border-radius: 5px;
			background: #EEEEEE;
			color: @text_normal_color;
			text-align: center;
			text-decoration: none;
			flex-direction: column;
			justify-content: center;
			
			

			.temp {
				width: 100%;
			}
			.name {
				width: 100%;
			}
			.desc {
				width: 100%;
			}
	
			// .icon{
			// 	position: absolute;
			// 	top: 0px;
			// 	right: 0px;
			// 	width: 80%;
			// 	padding: 10%;
			// 	display: inline-block;
			// 	font-size: 1em;
			// 	line-height: 1em;
			// 	text-align: right;
			// }
			// a.temp{
			// 	width: 80%;
			// 	padding: 5% 10%;
			// 	padding-top: 1%;
			// 	float: left;
			// 	display: inline-block;
			// 	font-size: 4em;
			// 	text-decoration: none;
			// 	line-height: 1em;
			// 	color: @bg_color_dark;
			// 	font-weight: bold;
			// }
	
			// .detail{
			// 	width: 80%;
			// 	padding: 0% 10%;
			// 	float: left;
			// 	display: inline-block;
			// 	line-height: 1.3em;
	
			// 	.name{
			// 		width: 100%;
			// 		float: left;
			// 		display: inline-block;
			// 		font-size: 1.4em;
			// 		text-overflow: ellipsis;
			// 		white-space: nowrap;
			// 		overflow: hidden;
			// 		padding: 4% 0%;
	
			// 		a{
			// 			color: @text_normal_color;
			// 			text-decoration: none;
	
			// 			&:hover{ text-decoration: underline; }
			// 		}
			// 		i{ font-size: 0.8em; }
			// 	}
	
			// 	.desc{
			// 		width: 100%;
			// 		float: left;
			// 		display: inline-block;
			// 		font-size: 0.75em;
			// 		color: @text_normal_color;
			// 		text-overflow: ellipsis;
			// 		white-space: nowrap;
			// 		overflow: hidden;
			// 	}
			// }
		}
	}
}

.logout{
	width: 100%;
	margin-top: 28%;
	float: left;
	display: inline-block;
	text-align: center;
	font-size: 1.2em;
	color: @primary_color;
	line-height: 1em;

	i{ margin-left: 5px; }
}

.login{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;

	div {
		width: 28%;
		margin: 0 36%;
		text-align: center;

		.logo{
			width: 30%;
			margin: 0 35%;
			margin-bottom: 5%;
			float: left;
			display: block;

			img{
				width: 100%;
				float: left;
				display: block;
			}
		}
		h1{
			width: 100%;
			float: left;
			display: block;
			font-size: 2.5em;

			a{
				text-decoration: none;
				color: @text_active_color;
			}
		}
		p{
			width: 100%;
			float: left;
			display: block;
			color: @text_normal_color;
			font-size: 1.1em;
		}

		.input-text{
			width: 90%;
			float: left;
			display: block;
			font-size: 1.2em;
			border: 0px;
			padding: 5%;
			background: @border_color;
			color: #333333;
			margin: 0%;
			margin-bottom: 5%;
			border-radius: 5px;
			font-family: @font_family_topic;
			border: 0;

			&:focus{
				color: #000000;
			}
		}

		.btn{
			width: 100%;
			float: left;
			display: block;
			font-size: 1.2em;
			border: 0px;
			padding: 5%;
			margin: 0%;
			margin-bottom: 10%;
			border-radius: 5px;
			background: @primary_color;
			color: @bg_color;
			font-family: @font_family_topic;
			box-shadow: 3px 3px 7px rgba(0,0,0,0.25);

			i{
				margin-left: 10px;
				font-size: 0.9em;
			}

			&:hover{
				cursor: pointer;
				background: @primary_color_dark;
			}

			&.-loading{
				background: transparent;
				color: @primary_color;
			}
		}

		p{
			width: 100%;
			float: left;
			display: block;
			color: @text_normal_color;
			font-size: 1.2em;
			margin-bottom: 10%;
			text-align: center;

			i{
				margin-left: 5px;
				font-size: 0.8em;
			}

			a{
				color: @primary_color;
				text-decoration: none;

				&:hover{ text-decoration: underline; }
			}
		}
	}
}

.form{
	width: 40%;
	margin: 0% 30%;
	margin-top: 80px;
	float: left;
	display: block;

	h2 {
		width: 100%;
		padding: 3% 0%;
		margin-bottom: 4%;
		float: left;
		display: block;
		font-size: 3em;
		color: @text_active_color;
		border-bottom: 1px solid @border_color;
	}

	.form-items{
		width: 100%;
		float: left;
		display: block;
		margin-bottom: 3%;

		&.-hidden{ display: none; }

		.label{
			width: 100%;
			padding: 2% 0%;
			float: left;
			display: block;
			margin-right: 5%;
			font-size: 1.2em;
			color: @text_active_color;
		}

		.input{
			width: 100%;
			float: left;
			display: block;

			.input-text, .input-textarea{
				width: 96%;
				padding: 2%;
				float: left;
				display: block;
				font-size: 1.2em;
				border: 0px;
				margin: 0px;
				background: #EEEEEE;
				color: #000000;
				font-family: @font_family_topic;
				border-radius: 5px;
				resize: none;
				border: 1px solid #DDDDDD;

				&:focus{ border: 1px solid #999999; }
				&.-haft{ width: 42%; }
				&.-haft-right{ float: right; }
			}

			.input-textarea{ height: 70px; }

			.select{
				width: 100%;
				float: left;
				display: inline-block;
				position: relative;

				&:after{
					content:'';
					border-top: 10px solid @text_normal_color;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					position: absolute;
					z-index: 2;
					top: 17px;
					right: 4%;
					pointer-events: none;
				}

				select{
					width: 100%;
					margin: 0%;
					padding: 2.5% 3%;
					float: left;
					display: inline-block;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					font-size: 1em;
					border: 0px;
					line-height: 1.3em;
					background: @border_color;
					color: @primary_color;
					border-radius: 2px;
					font-family: @font_family_topic;
					border: 1px solid @bg_color_light;

					&:hover{ cursor: pointer; }
					&:focus{ border: 1px solid @primary_color; }
				}
			}

			#btn-status-toggle , #btn-notify-toggle{
				font-size: 2.5em;
				margin-top: -1.5%;
				color: @text_normal_color;

				&:hover{
					cursor: pointer;
					opacity: 0.8;
				}
				i.fa-toggle-on{ color: @primary_color; }
			}

			p{
				width: 100%;
				float: left;
				display: inline-block;
				font-size: 1em;
				color: @text_normal_color;
				margin-top: 4%;
				margin-bottom: 6%;

				.link{ float: right; }

				.btn{
					background: @third_color;
					color: @black_color;
					margin-left: 10px;
					border-radius: 2px;
					padding: 2px 5px;
					font-size: 0.8em;

					&:hover{
						cursor: pointer;
						text-decoration: underline;
					}
				}

				a{
					color: @primary_color;
					text-decoration: none;

					&:hover{ text-decoration: underline; }

					i{ margin-left: 5px; }
				}
			}

			button.btn{
				float: left;
				display: inline-block;
				font-size: 1.2em;
				padding: 3% 6%;
				border-radius: 5px;
				border: 0px;
				margin: 0%;
				margin-top: 5%;
				background: @primary_color;
				color: #FFFFFF;
				font-family: @font_family_topic;
				box-shadow: 1px 3px 5px rgba(0,0,0,0.25);

				&.-completed{
					background: transparent;
					color: @primary_color;
				}

				&:hover{ cursor: pointer; }
				i{ margin-left: 10px; }
			}

			a.btn-nav{
				float: right;
				display: inline-block;
				font-size: 1em;
				padding: 3% 6%;
				line-height: 1.1em;
				margin: 0%;
				margin-top: 5%;
				font-family: @font_family_topic;
				text-decoration: none;
				background: transparent;
				color: @text_normal_color;
				visibility: hidden;

				&.-show{ visibility: visible }
				i{ margin-left: 10px; }
				&:hover{ text-decoration: underline; }
			}

			.list{
				width: 100%;
				float: left;
				display: inline-block;

				.list-items{
					width: 100%;
					float: left;
					display: inline-block;
					color: @primary_color_dark;
					margin-top: 1.5%;
					background: @primary_color;
					border-radius: 2px;
					font-size: 1em;

					.c{
						width: 82%;
						float: left;
						display: inline-block;
						padding: 2% 4%;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;

						i{ margin-right: 15px; }
					}

					.btn{
						width: 6%;
						float: right;
						display: inline-block;
						padding: 2%;
						text-align: center;

						&:hover{ cursor: pointer; }
					}
				}
			}

			.list-input{
				width: 100%;
				float: left;
				display: inline-block;
				margin-top: 2%;
				position: relative;
				overflow: hidden;

				.input-list-text{
					width: 93.5%;
					padding: 3%;
					float: left;
					display: inline-block;
					border: 0px;
					font-family: @font_family_topic;
					font-size: 1em;
					line-height: 1.5em;
					background: transparent;
					color: @primary_color;
					border: 1px solid @border_color;
					border-radius: 2px;
					margin: 0px;

					&:focus{ border: 1px solid @primary_color; }
				}

				.btn{
					position: absolute;
					top: 0px;
					right: 0px;
					width: 8%;
					padding: 3%;
					float: right;
					display: inline-block;
					text-align: center;
					color: @primary_color_dark;
					font-size: 1.2em;

					&:hover{ cursor: pointer; color: @primary_color; }
					&:active{ color: @primary_color_light; }
				}
			}
		}
	}
}

.device-info{
	width: 40%;
	margin: 80px 30%;
	display: flex;
	flex-direction: column;
	background: #DDDDDD;
	
	h1 {
		font-size: 3em;
		font-family: @font_family_topic;
	}

	.temperature {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: baseline;

		.box-item {
			width: 30%;
			h3 {
				font-family: @font_family_topic;
				font-size: 3em;
				line-height: 1.2em;
			}
			p {
				font-size: 0.8em;
			}

			&.current {
				width: 40%;

				h3 {
					font-size: 6em;
					line-height: 1.2em;
				}
			}

			&.-highest{
				.v{ color: @text_normal_color; }
				.over{ color: @second_color; }
			}
			&.-lowest{
				.v{ color: @text_normal_color; }
				.over{ color: @second_color; }
			}
		}
	}

	.info{
		display: flex;
		flex-direction: row;

		a {
			text-decoration: none;
			margin-right: 15px;
			color: #666666;

			i {
				margin-right: 5px;
				color: @primary_color;
			}
		}
	}

	.graph{
		width: 100%;
		margin-top: 5%;
		float: left;
		display: inline-block;
		height: 250px;

		canvas{
			width: 100%;
			height: 250px;
		}
	}
}

.device-history{
	width: 40%;
	margin: 0 30%;
	float: left;
	display: block;

	.history{
		width: 100%;
		float: left;
		display: block;

		.loading{
			width: 100%;
			margin: 20% 0%;
			float: left;
			display: block;
			text-align: center;
			color: @text_normal_color;
			font-size: 0.9em;
		}

		.empty{
			width: 100%;
			margin: 20% 0%;
			float: left;
			display: inline-block;
			text-align: center;
			color: @text_normal_color;
			font-size: 0.9em;
		}

		.logitems{
			width: 100%;
			padding: 3.5% 0%;
			float: left;
			display: block;
			border-bottom: 1px solid @border_color;
			font-size: 1.2em;
			color: @text_normal_color;
			line-height: 1em;

			&:last-child{ border-bottom: 0px; }

			.id{
				width: 35%;
				float: left;
				display: block;

				i { color: @second_color; margin-left: 5px; }
			}
			.time{
				width: 35%;
				float: left;
				display: block;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			.temp{
				width: 20%;
				float: left;
				display: block;
				text-align: right;
				color: @text_active_color;
			}
			.icon{
				width: 10%;
				float: left;
				display: inline-block;
				text-align: right;

				i.fa-angle-double-down{ color: @primary_color; }
				i.fa-angle-double-up{ color: @second_color; }
			}
		}
	}
}

.footer{
	width: 40%;
	padding: 3% 30%;
	float: left;
	display: block;
	color: #666666;
	font-size: 1em;
	text-align: center;
	font-style: italic;

	i{
		margin-right: 5px;
	}
}

#progress-bar{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 5%;
	height: 3px;
	background: @primary_color;
	float: left;
	display: inline-block;
	z-index: 100;
	display: none;
}


#loading-bar{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 5%;
	height: 1px;
	background: @primary_color;
	float: left;
	display: inline-block;
	z-index: 100;

	.transitionAnimation(10s);

	&.-action{ transform: translateX(1900%); }
}

#filter{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	float: left;
	display: inline-block;
	z-index: 999;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	background: rgba(0,0,0,0.65);
	display: none;
}

.slide-panel{
	position: fixed;
	top: 0px;
	left: -20%;
	width: 20%;
	height: 100%;
	float: left;
	display: inline-block;
	background: @bg_color;
	z-index: 9999;

	.transitionAnimation(0.3s);

	&.-toggle{ transform: translateX(100%); }

	&.-zone-panel{
		left: inherit;
		right: -20%;
		&.-toggle{ transform: translateX(-100%); }
	}

	.btn-close{
		width: 80%;
		float: left;
		display: inline-block;
		color: @bg_color_light;
		padding: 22px 10%;
		height: 16px;
		font-size: 1.3em;
		line-height: 1em;
		text-align: center;

		&:hover{ cursor: pointer; }
	}

	.menu-list{
		width: 100%;
		float: left;
		display: inline-block;
		padding-bottom: 3%;
		margin-bottom: 3%;
		border-bottom: 1px solid @bg_color_light;

		&:last-child{ border: 0px; }

		&.-profile{
			position: absolute;
			bottom: 0px;
			left: 0px;
			margin-bottom: 0%;
			padding-bottom: 0%;
			border-bottom: 0px;
		}

		a.btn{
			width: 84%;
			padding: 6% 8%;
			float: left;
			display: inline-block;
			color: @text_active_color;
			font-size: 1em;
			text-decoration: none;

			&.-location-items{
				i{ color: @primary_color; }
			}

			i{ margin-right: 20px; font-size: 1.2em; }

			&:hover{
				color: @primary_color_light;
				background: @bg_color_dark;
				cursor: pointer;
			}

			&.-active{ color: @primary_color; }

			&.btn-logout{
				color: @second_color;
				&:hover{ color: @second_color; }
			}
		}
	}
}

.message-box{
	width: 100%;
	padding: 12% 0%;
	float: left;
	display: inline-block;
	text-align: center;

	&.-minibox{
		padding: 8% 0%;
		.msg{ margin-bottom: 4%; }
	}

	.icon{
		width: 100%;
		float: left;
		display: inline-block;
		font-size: 5em;
		color: @bg_color_light;
	}
	.msg{
		width: 100%;
		margin-bottom: 8%;
		float: left;
		display: inline-block;
		font-size: 2em;
		color: @text_active_color;
	}
	.control{
		width: 100%;
		float: left;
		display: inline-block;

		a.btn{
			text-decoration: none;
			background: @primary_color;
			color: @primary_color_dark;
			padding: 10px 25px;
			margin: 5px;
			border-radius: 2px;

			i{ margin-left: 10px; }

			&.btn-not-Accept{
				background: transparent;
				color: @text_normal_color;
			}
		}
	}
}

#disconnect-bar{
	position: fixed;
	bottom: -50px;
	left: 0px;
	width: 100%;
	height: 50px;
	display: flex;
	background: @third_color;
	color: @third_color_dark;
	font-family: @font_family_topic;
	z-index: 9999;
	font-size: 1em;
	justify-content: center;
	align-items: center;
	
	.transitionAnimation(0.3s);
	
	&.-active {
		transform: translateY(-100%);
	}

	i {
		margin-right: 10px;
	}
}
/* Other Device and Screen */
@media only screen and (min-width:1910px) {@import "style-1920";}
@media only screen and (min-width:1024px) and (max-width:1365px){@import "style-1024-1366";}
@media only screen and (min-width:760px) and (max-width:1023px){@import "style-760-1023";}
@media only screen and (min-width:520px) and (max-width:759px){@import "style-520-759";}
@media only screen and (min-width:0px) and (max-width :519px){@import "style-0-519";}
