@fontsize_mini: 1em;
@fontsize_topic: 1.8em;
@fontsize_normal: 1.4em;
@fontsize_input: 1.4em;
@fontsize_icon: 1.6em;
@header_height: 60px;
@radius: 5px;
@input_padding: 16px;

.header {
	width: 100%;
	padding: 0;
	height: @header_height;

	a.logo-icon {
    padding: 0 5%;

		img {
			padding: (@header_height / 4) 0;
			height: @header_height - ((@header_height / 4) * 2);
		}
	}

	.title {
    font-size: @fontsize_topic;
    
    &:first-child {
      padding-left: 5%;
    }
	}

	.btn-icon {
		width: @header_height;
    height: @header_height;
	}

	.btn-text {
		font-size: @fontsize_mini;
		padding: (@header_height / 10) (@header_height / 4);
    border-radius: @radius;
    
    &:last-child {
      margin-right: 5%;
    }
	}
}

.container{
	width: 90%;
	margin: 0 5%;

	.box {
		display: flex;
		flex-direction: column;

		&:last-child {
			.device-list {
				border-bottom: 0;
			}
		}

		.head {
			display: flex;
			height: @header_height;
			margin-bottom: @header_height / 8;
			align-items: center;

			.title {
				font-size: @fontsize_topic;
				color: @primary_color_font;
				margin-right: auto;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				&:hover {
					cursor: default;
				}
			}

			a {
				font-size: @fontsize_mini;
				text-decoration: none;
				padding: (@header_height / 20) (@header_height / 4);
				background: @primary_color_secondary;
				color: @primary_color_font;
				border-radius: @radius;
			}
		}
		.device-list {
			margin-bottom: @header_height / 2;

			a.device-card {
				width: 47.5%;
				padding: 5%;
				margin-right: 5%;
				margin-bottom: 5%;
				height: 170px;
				border-radius: @radius;

				&.create-button {
					font-size: @fontsize_normal;
				}

				&:nth-child(4n+0) {
					margin-right: inherit;
        }
        &:nth-child(2n+0) {
					margin-right: 0%;
				}
				.name {	
					font-size: @fontsize_normal;
				}
				.temp {
					font-size: @fontsize_topic * 1.2;
				}
				.info {
					font-size: @fontsize_mini;

					.updated {
						font-size: @fontsize_mini;
					}
					.icon {
						margin-left: 10px;
					}
				}
			}
		}
	}

	.box-empty {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 40%;
		margin: 0 30%;

		h1 {
			font-size: @fontsize_topic;
			color: @primary_color_font;
			margin-bottom: 5px;
		}
		p {
			font-size: @fontsize_normal;
			margin-bottom: 30px;
			color: @primary_color_font;
		}

		a {
			width: 100%;
			font-size: @fontsize_normal;
			border: 0px;
			padding: @input_padding 0;
			margin: 0%;
			margin-top: 15px;
			border-radius: @radius;
			background: @green_color;
			font-size: @fontsize_input;
			font-weight: bold;
			text-decoration: none;
			text-align: center;
		}
	}
}

.form {
	width: 90%;
	margin: 80px 5%;
	margin-top: @header_height;

	&.vertical-center {
		position: initial;
		height: 90%;
		margin: 0 5%;
	}

	&.login {
		position: initial;
		height: 100%;
    width: 90%;
    height: 90%;
		margin: 5%;

		&.logout {
			font-size: @fontsize_icon;
			color: @white_color;
		}

		p {
			font-size: @fontsize_normal;
			margin-bottom: @input_padding * 2;
			color: @primary_color_font;

			a {
				color: @white_color;
				font-weight: bold;
			}
		}
	
		.logo{
			width: 25%;
			margin-bottom: @input_padding * 2;
			float: left;
			display: block;
	
			img{
				width: 100%;
				float: left;
				display: block;
			}
		}
	}

	.form-items {
		display: flex;
		flex-direction: column;
		margin-bottom: @input_padding;

		&.hidden {
			display: none;
		}

		&:last-child {
			margin-bottom: 0;
		}

		label {
			font-size: @fontsize_mini;
			color: @primary_color_font;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 10px;
			font-weight: bold;

			i {
				margin-left: 5px;
			}

			.label-button {
					color: @primary_color_font;
					text-decoration: none;
					background: @primary_color_secondary;
					padding: 0px 10px;
					border-radius: @radius;
					
					&:hover {
							cursor: pointer;
					}
			}

			&:hover {
				cursor: pointer;
			}
		}

		.input-text, .input-textarea {
			width: 100%;
			float: left;
			display: block;
			font-size: @fontsize_input;
			padding: (@input_padding / 1.2) @input_padding;
			background: transparent;
			color: @primary_color_font;
			margin: 0%;
			box-sizing: border-box;
			border: 2px solid @primary_color_secondary;
			resize: none;
			outline: none;
			border-radius: @radius;
			font-weight: bold;
			font-family: @font_family_maledpan;
			.transitionAnimation(0.3s);
			
			&.loading {
				background: transparent;
				color: @primary_color;
			}

			&::placeholder {
				color: @primary_color_secondary;
			}

			&:hover {
				cursor: pointer;
			}

			&:focus {
				color: @white_color;
				border: 2px solid @white_color;
			}

			&:disabled {
				background: @primary_color_secondary;
				color: @primary_color;
			}
		}

		.input-textarea {
			height: 100px;
		}

		.btn-submit {
			width: 100%;
			font-size: @fontsize_normal;
			border: 0px;
			padding: @input_padding 0;
			margin: 0%;
			margin-top: @input_padding;
			border-radius: @radius;
			background: @white_color;
			color: @primary_color;
			font-size: @fontsize_input;
			font-weight: bold;
			margin-left: auto;
			font-family: @font_family_maledpan;
			line-height: 1.25em;

			i {
				margin-left: 10px;
				font-size: 0.9em;
			}
			
			&:hover {
				cursor: pointer;
			}
			
			&.loading {
				background: @primary_color_secondary;
				color: @primary_color_font;
				box-shadow: none;
			}

			&.completed {
				background: @green_color;
				color: @white_color;
				box-shadow: none;
			}
		}

		.note {
			color: @primary_color_font;
			font-size: @fontsize_mini;
			margin-top: 10px;

			a {
				color: @primary_color;
				text-decoration: none;
				font-weight: bold;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.inputs {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.input-text {
				width: 49%;
				text-align: center;
				flex-grow: unset;
			}
		}

		.lists {
			display: flex;
			flex-direction: column;
			border: 2px solid @primary_color_secondary;
			border-radius: @radius;
			font-size: 1.2em;
			margin-bottom: 10px;

			.list-items {
				display: flex;
				flex-direction: row;
				border-bottom: 1px solid @primary_color_secondary;

				&:last-child {
					border-bottom: 0;
				}
				.c {
					width: 85%;
					padding: 2.5% 3%;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					color: @white_color;
				}

				.btn {
					width: 15%;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					color: @primary_color_secondary;

					&:hover {
						cursor: pointer;
						color: @primary_color_font;
					}
				}
			}
		}
	}

	.toggle-items {
		display: flex;
		flex-direction: row;
		align-items: center;
		line-height: 1em;
		justify-content: space-between;
		font-size: @fontsize_normal;
		margin-bottom: 15px;
		color: @white_color;

		i {
			font-size: @fontsize_normal * 1.25;
			padding: 0;
			color: @primary_color_secondary;

			&.fa-toggle-on {
				color: @green_color;
				text-shadow: 1px 2px 3px rgba(0,0,0,0.2);
			}

			&:hover {
				cursor: pointer;
			}
		}
	}
}

.device-info{
	width: 90%;
	margin: @header_height 5%;
	margin-top: @header_height / 2;

	.info {
		margin-bottom: @header_height / 4;

		.temperature-current {
			.value {
				font-size: @fontsize_topic * 2;
			}
			.unit {
				font-size: @fontsize_normal;
			}
		}

		p {
			font-size: @fontsize_mini;
			i {
				margin-left: 10px;
			}
		}
	}

	.temperature-stat {
		margin-bottom: @header_height / 2;

		.box {
			width: 31.33%;
			margin-right: 3%;
			padding: 0 5%;
			height: 90px;
			border-radius: @radius;

			div {
				.value {
					font-size: @fontsize_topic * 1.2;
				}
				.unit {
					font-size: @fontsize_mini;
				}
			}
			p {
				font-size: @fontsize_mini;
			}
		}
	}

	h2 {
		font-size: @fontsize_normal;
		margin-bottom: 15px;

		i {
			width: 35px;
		}
	}
	
	.graph {
		height: 100px;
		margin-bottom: @header_height / 2;
	}

	.history {
		.logitems {
			padding: 15px 0;
			font-size: @fontsize_normal;

			.status {
				width: 5%;
				font-size: @fontsize_normal * 0.5;
			}

			.time {
				width: 70%;
			}
			.icon{
				width: 5%;
				font-size: @fontsize_normal * 0.5;
			}
			.temp {
				width: 20%;
			}
		}

		.loading {
			padding: 15% 0;
			font-size: @fontsize_normal;
		}

		.empty {
			padding: 15% 0;
			font-size: @fontsize_normal;
		}
	}
}

.footer {
	width: 90%;
	margin: 0 5%;
	margin-bottom: 5%;
	font-size: @fontsize_mini;

	i {
		margin-right: 5px;
	}

	a {
		padding: 3px 10px;
		border-radius: @radius;
	}
}

#progress-bar {
	height: 3px;
}


#loading-bar {
	height: 3px;
	border-radius: @radius;
}

.message-box {
  width: 90%;
  margin: 0 5%;

	.msg {
		font-size: @fontsize_topic;
		margin-bottom: 25px;
	}
	.control {
		p {
			padding: 14px 0;
			font-size: @fontsize_normal;
		}

		a.btn {
			font-size: @fontsize_input;
			padding: 14px 28px;
			margin: 0 10px;
			border-radius: @radius;

			i {
				margin-left: 15px;
			}
		}
	}
}